.icon-print:before {
  content: "\e80d";
} /* '' */
.icon-enlarge-arrows:before {
  content: "\e80e";
} /* '' */
.icon-cancel:before {
  content: "\e810";
} /* '' */
.icon-arrow:before {
  content: "\e820";
} /* '' */
.icon-pdf:before {
  content: "\e82b";
} /* '' */
.icon-ppt:before {
  content: "\e831";
} /* '' */
.icon-xls:before {
  content: "\e832";
} /* '' */
.icon-doc:before {
  content: "\e833";
} /* '' */
.icon-menu-x:before {
  content: "\e84e";
} /* '' */
.icon-map-pin-plus:before {
  content: "\e850";
} /* '' */
.icon-info-full:before {
  content: "\e853";
} /* '' */
.icon-phone:before {
  content: "\e856";
} /* '' */
.icon-search:before {
  content: "\e858";
} /* '' */
.icon-info:before {
  content: "\e859";
} /* '' */
.icon-check:before {
  content: "\e85a";
} /* '' */
.icon-pointer:before {
  content: "\e85c";
} /* '' */
.icon-listview:before {
  content: "\e85e";
} /* '' */
.icon-blockview:before {
  content: "\e85f";
} /* '' */
.icon-link-ext:before {
  content: "\f08e";
} /* '' */
.icon-twitter:before {
  content: "\f099";
} /* '' */
.icon-facebook:before {
  content: "\f09a";
} /* '' */
.icon-email-2:before {
  content: "\f0e0";
} /* '' */
.icon-angle-right:before {
  content: "\f105";
} /* '' */
.icon-angle-down:before {
  content: "\f107";
} /* '' */
