import { markupWithCodeExample } from "../helpers";

export const Default = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <div class="ic-page-header__item ic-page-header__logo-container">
        <a class="ic-page-header__logo-link" href="#/">
          <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
        </a>
      </div>
    </div>
  </div>
</header>
`,
  ]);
export const DefaultInera = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <div class="ic-page-header__item ic-page-header__logo-container">
        <a class="ic-page-header__logo-link" href="#/">
          <span class="ic-page-header__logo-link-text"> Inera </span>
        </a>
      </div>
    </div>
  </div>
</header>
`,
  ]);
export const DefaultIneraAdmin = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <li
        class="ic-page-header__item ic-page-header__service-container"
        role="presentation"
      >
        <h1 class="ic-page-header__service-name">Tjänstens namn</h1>
        <h2 class="ic-page-header__service-inera">En tjänst från Inera</h2>
      </li>
    </div>
  </div>
</header>
`,
  ]);
export const IneraExamples = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <div class="ic-page-header__logo-container">
        <a class="ic-page-header__logo-link" href="#/">
          <span class="ic-page-header__logo-link-text"> Inera </span>
        </a>
      </div>
      <div class="ic-page-header__item iu-height-full">
        <button
          onClick="void(0)"
          aria-label="Se driftstörningar"
          class="ic-page-header__button iu-flex iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
        >
          <span
            role="presentation"
            class="ic-computer-icon iu-hide-md iu-hide-sm"
          ></span>
          <span
            class="ic-nav__link iu-lh-narrow iu-ml-400 iu-hide-md iu-hide-sm"
            >Driftstatus</span
          >
        </button>
        <button
          onClick="void(0)"
          aria-label="Sök efter information"
          class="ic-page-header__button iu-flex iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
        >
          <span role="presentation" class="ic-search-image"></span>
          <span
            class="ic-nav__link iu-lh-narrow iu-ml-400 iu-hide-md iu-hide-sm"
            >Sök</span
          >
        </button>

        <!-- onclick only for demo -->
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger iu-hide-lg iu-hide-xl iu-hide-xxl iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
          aria-label="Öppna/stäng huvudmeny"
          aria-expanded="false"
        >
          <span class="lines-button x">
            <span class="lines"></span>
          </span>
        </button>
      </div>
    </div>
    <div
      role="presentation"
      class="ic-page-header__line-horizontal iu-hide-md iu-hide-sm"
    ></div>
    <nav aria-label="Huvudmeny" class="ic-topnav iu-hide-md iu-hide-sm">
      <ul>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-0"
          >
            <span>Link 1</span>
          </a>
          <div class="ic-meganav" id="subnav-0" aria-hidden="true"></div>
        </li>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-1"
          >
            <span>Link 2</span>
          </a>
          <div class="ic-meganav" id="subnav-1" aria-hidden="true"></div>
        </li>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-2"
          >
            <span>Link 3</span>
          </a>
          <div class="ic-meganav" id="subnav-2" aria-hidden="true"></div>
        </li>
      </ul>
      <div class="ic-meganav" id="subnav-2" aria-hidden="false">
        <div class="ic-meganav__container">
          <nav class="ic-meganav__menu" aria-label="Mega">
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)" aria-current="page">
                  Nuvarande sida
                </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 1 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 2 </a>
              </li>
            </ul>
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 3 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 4 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 5 </a>
              </li>
            </ul>
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 6 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 7 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 8 </a>
              </li>
            </ul>
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 9 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 10 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 11 </a>
              </li>
            </ul>
            </nav>
        </div>
      </div>
    </nav>
  </div>
</header>
`,
  ]);
export const IneraAdminItems = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <li
        class="ic-page-header__item ic-page-header__service-container"
        role="presentation"
      >
        <h1 class="ic-page-header__service-name">Tjänstens namn</h1>
        <h2 class="ic-page-header__service-inera">En tjänst från Inera</h2>
      </li>
      <div class="ic-page-header__item iu-height-full">
        <button
          onClick="void(0)"
          aria-label="Hitta vård"
          class="ic-page-header__button iu-hide-md iu-hide-sm iu-flex iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
        >
          <span role="presentation" class="iu-hide-md iu-hide-sm iu-svg-icon">
            <svg
              width="28"
              height="28"
              viewBox="0 0 40 40"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M.25 20C.25 9.092 9.092.25 20 .25S39.75 9.092 39.75 20 30.908 39.75 20 39.75.25 30.908.25 20Zm38 0C38.25 9.92 30.08 1.75 20 1.75S1.75 9.92 1.75 20 9.92 38.25 20 38.25 38.25 30.08 38.25 20Z"
                fill="#a33662"
              />
              <path
                d="M19.815 25a1.15 1.15 0 0 0 1.15-1.15v-.763c0-1.768.611-2.358 2.443-3.832 1.534-1.226 3.036-2.544 3.036-5.058 0-3.521-2.99-5.197-6.12-5.197-2.777 0-5.838 1.298-6.272 5.002a14.23 14.23 0 0 0-.035.834.922.922 0 0 0 .925.942c.71 0 1.284-.57 1.317-1.28a4.4 4.4 0 0 1 .029-.38c.289-1.757 1.547-3.132 3.942-3.132 2.004 0 3.85.977 3.85 3.335 0 1.691-.907 2.483-2.41 3.693-1.58 1.272-3.005 2.513-3.005 4.654v1.181A1.15 1.15 0 0 0 19.815 25Zm.207 6c1.105 0 2-.914 2-2a2 2 0 1 0-4 0c0 1.086.896 2 2 2Z"
                fill="#a33662"
              /></svg
          ></span>
          <span class="ic-nav__link iu-lh-narrow"
            >Hitta vård</span
          >
        </button>
        
          <button
          onClick="void(0)"
          aria-label="Sök efter information"
          class="ic-page-header__button iu-flex iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
        >
          <span role="presentation" class="ic-search-image"></span>
          <span class="ic-nav__link iu-lh-narrow iu-hide-md iu-hide-sm"
            >Sök</span
          >
        </button>
        <!-- onclick only for demo -->
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400 iu-hide-lg iu-hide-xl iu-hide-xxl"
          aria-label="Öppna/stäng huvudmeny"
          aria-expanded="false"
        >
          <span class="lines-button x">
            <span class="lines"></span>
          </span>
        </button>
      </div>
        <div class="ic-page-header__separator iu-hide-md iu-hide-sm">
          <button
            onClick="void(0)"
            aria-label="Logga in"
            class="ic-page-header__button iu-flex iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
          >
            <span class="iu-hide-md iu-hide-sm iu-svg-icon" role="presentation"
              ><svg
                width="28"
                height="28"
                viewBox="0 0 40 40"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M9.562 10.769c0-5.298 4.528-9.824 9.783-9.824 6.058 0 10.816 4.304 10.816 9.824 0 6.136-5.056 11.898-10.816 11.898-4.995 0-9.783-6.032-9.783-11.898Zm19.099 0c0-4.656-4.055-8.324-9.316-8.324-4.427 0-8.283 3.855-8.283 8.324 0 5.104 4.202 10.398 8.283 10.398 4.885 0 9.316-5.05 9.316-10.398Z"
                  fill="#a33662"
                />
                <path
                  d="M19.397 8.81a.75.75 0 0 1 .743.647l.007.102-.001 4.867h1.474a.75.75 0 0 1 .743.649l.007.102a.75.75 0 0 1-.648.743l-.102.007h-2.223a.75.75 0 0 1-.743-.649l-.007-.101-.001-4.868h-3.698a.75.75 0 0 1-.743-.648l-.007-.102a.75.75 0 0 1 .648-.743l.102-.007h4.449Z"
                  fill="#a33662"
                />
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M8.692 28.037c2.488-2.4 6.232-3.5 11.731-3.5 5.011 0 8.45 1.082 10.76 3.44 1.068 1.09 1.776 2.18 2.483 4.004l.202.542.204.586.208.633.213.685.221.74.44 1.514.204.68.191.605.188.557a.75.75 0 0 1-.709.995H4.695a.75.75 0 0 1-.708-.996l.133-.394.138-.426.312-1.02.384-1.306.223-.74.216-.685.21-.633.206-.586.204-.542c.749-1.91 1.5-3.014 2.68-4.153Zm21.42.989c-1.986-2.027-5.045-2.988-9.689-2.988-5.147 0-8.527.991-10.689 3.079-.771.744-1.332 1.47-1.851 2.531l-.193.415c-.096.215-.191.444-.287.69l-.192.51-.098.272-.197.582c-.034.1-.067.204-.101.31l-.208.66-.216.72-.382 1.3-.278.911h28.26l-.117-.381-.16-.535-.327-1.126-.326-1.104-.206-.662-.199-.608-.194-.558-.19-.512c-.634-1.635-1.247-2.574-2.16-3.506Z"
                  fill="#a33662"
                />
                <path
                  d="M27.735 33.576a.75.75 0 0 1 .871.462l.03.098.883 3.79a.75.75 0 0 1-1.431.438l-.03-.098-.883-3.79a.75.75 0 0 1 .56-.9Zm-16.648.56a.75.75 0 0 1 1.477.24l-.017.1-.883 3.79a.75.75 0 0 1-1.477-.24l.016-.1.884-3.79Z"
                  fill="#a33662"
                /></svg
            ></span>
            <span class="ic-nav__link iu-lh-narrow iu-hide-md iu-hide-sm"
              >Logga in</span
            >
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
`,
  ]);
export const IneraAdminAvatar = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <li
        class="ic-page-header__item ic-page-header__service-container"
        role="presentation"
      >
        <h1 class="ic-page-header__service-name">Tjänstens namn</h1>
        <h2 class="ic-page-header__service-inera">En tjänst från Inera</h2>
      </li>
      <div class="ic-page-header__box iu-hide-md iu-hide-sm">
        <div class="ic-page-header__separator" aria-label="avatar">
          <button
            onclick="document.getElementsByClassName('ic-page-header-dropdown__container')[0].classList.toggle('open')"
            aria-label="Dropdown"
            class="ic-page-header__button"
          >
            <div class="ic-page-header__inner">
              <div class="iu-flex-center">
                <div class="ic-loggedin__username">
                  <p>Namn Efternamn</p>
                </div>
                <div
                  class="ic-page-header__chevron"
                  aria-expanded="false"
                ></div>
              </div>
            </div>
            <div class="ic-page-header__inner">
              <span class="ic-loggedin__text">Namn på enhet</span>
            </div>
          </button>

          <div class="ic-page-header-dropdown__container">
            <nav class="ic-page-header-dropdown__list" aria-label="Dropdown">
              <a
                href="javascript:void(0)"
                class="ic-page-header-dropdown__list__item ic-page-header__link iu-mt-lg iu-mb-lg"
              >
                <span class="icon--adjust iu-svg-icon">
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 15 15"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="m15 8.026-4.777-4.689a.968.968 0 0 0-1.351 0 .925.925 0 0 0 0 1.326l2.41 2.365H.954A.946.946 0 0 0 0 7.965c0 .518.428.938.955.938h10.45L8.873 11.39a.925.925 0 0 0 0 1.325.968.968 0 0 0 1.35 0L15 8.027Z"
                      fill="#a33662"
                    />
                  </svg>
                </span>
                Länk
              </a>
              <a
                href="javascript:void(0)"
                class="ic-page-header-dropdown__list__item ic-page-header__link iu-mb-lg"
              >
                <span class="icon--adjust iu-svg-icon">
                  <svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M15.186 3.977A4.973 4.973 0 0 1 19.771.255L20 .25c2.3 0 4.259 1.569 4.815 3.726l.037.162.53.172c.816.28 1.608.623 2.37 1.026l.03.017.18-.109a4.975 4.975 0 0 1 5.827.623l.176.168a4.975 4.975 0 0 1 .79 6.004l-.109.177.018.033a16.5 16.5 0 0 1 1.187 2.863l.01.036.162.038a4.973 4.973 0 0 1 3.722 4.585l.005.229c0 2.3-1.569 4.259-3.726 4.815l-.163.037-.17.53a16.58 16.58 0 0 1-1.027 2.37l-.018.03.11.18a4.975 4.975 0 0 1-.623 5.827l-.168.176a4.975 4.975 0 0 1-6.004.79l-.178-.109-.032.018a16.5 16.5 0 0 1-2.863 1.187l-.037.01-.037.162a4.973 4.973 0 0 1-4.585 3.722L20 39.75a4.975 4.975 0 0 1-4.815-3.726l-.038-.163-.53-.17a16.514 16.514 0 0 1-2.369-1.027l-.031-.018-.178.11a4.975 4.975 0 0 1-5.828-.623l-.176-.168a4.975 4.975 0 0 1-.79-6.004l.108-.178-.017-.032a16.496 16.496 0 0 1-1.187-2.863l-.011-.037-.161-.037a4.973 4.973 0 0 1-3.722-4.585L.25 20c0-2.3 1.569-4.259 3.726-4.815l.162-.038.172-.53c.28-.816.623-1.608 1.026-2.369l.017-.031-.109-.178a4.975 4.975 0 0 1 .623-5.828l.168-.176a4.975 4.975 0 0 1 6.004-.79l.177.108.033-.017a16.496 16.496 0 0 1 2.863-1.187l.036-.011.038-.161Zm8.263.837a3.473 3.473 0 0 0-6.896 0l-.059.503-.488.134a14.998 14.998 0 0 0-3.467 1.437l-.44.25-.397-.314a3.473 3.473 0 0 0-4.877 4.878l.314.397-.25.44a15.014 15.014 0 0 0-1.438 3.466l-.134.488-.503.058a3.473 3.473 0 0 0 0 6.896l.503.059.134.488a14.998 14.998 0 0 0 1.437 3.467l.25.44-.314.397a3.473 3.473 0 0 0 4.878 4.877l.397-.314.44.25a15.014 15.014 0 0 0 3.466 1.438l.488.134.058.503a3.473 3.473 0 0 0 6.896 0l.059-.503.488-.134a14.994 14.994 0 0 0 3.467-1.437l.44-.25.397.313a3.473 3.473 0 0 0 4.877-4.877l-.314-.397.25-.44a15.014 15.014 0 0 0 1.438-3.466l.134-.488.503-.058a3.473 3.473 0 0 0 0-6.896l-.503-.059-.134-.488a14.994 14.994 0 0 0-1.437-3.467l-.25-.44.313-.397a3.473 3.473 0 0 0-4.877-4.877l-.397.314-.44-.25a15.014 15.014 0 0 0-3.466-1.438l-.488-.134-.058-.503Z"
                      fill="#a33662"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M12.25 20a7.75 7.75 0 1 1 15.5 0 7.75 7.75 0 0 1-15.5 0Zm14 0a6.25 6.25 0 1 0-12.5 0 6.25 6.25 0 0 0 12.5 0Z"
                      fill="#a33662"
                    />
                  </svg>
                </span>
                Länk Inställningar
              </a>
              <hr class="iu-link-divider-bottom iu-color-separator" />
              <a
                href="javascript:void(0)"
                class="ic-page-header-dropdown__list__item ic-page-header__link iu-mb-md"
                ><span class="icon--adjust iu-svg-icon"
                  ><svg
                    width="40"
                    height="40"
                    viewBox="0 0 40 40"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    aria-hidden="true"
                  >
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M9.562 10.769c0-5.298 4.528-9.824 9.783-9.824 6.058 0 10.816 4.304 10.816 9.824 0 6.136-5.056 11.898-10.816 11.898-4.995 0-9.783-6.032-9.783-11.898Zm19.099 0c0-4.656-4.055-8.324-9.316-8.324-4.427 0-8.283 3.855-8.283 8.324 0 5.104 4.202 10.398 8.283 10.398 4.885 0 9.316-5.05 9.316-10.398Z"
                      fill="#a33662"
                    />
                    <path
                      d="M19.397 8.81a.75.75 0 0 1 .743.647l.007.102-.001 4.867h1.474a.75.75 0 0 1 .743.649l.007.102a.75.75 0 0 1-.648.743l-.102.007h-2.223a.75.75 0 0 1-.743-.649l-.007-.101-.001-4.868h-3.698a.75.75 0 0 1-.743-.648l-.007-.102a.75.75 0 0 1 .648-.743l.102-.007h4.449Z"
                      fill="#a33662"
                    />
                    <path
                      fill-rule="evenodd"
                      clip-rule="evenodd"
                      d="M8.692 28.037c2.488-2.4 6.232-3.5 11.731-3.5 5.011 0 8.45 1.082 10.76 3.44 1.068 1.09 1.776 2.18 2.483 4.004l.202.542.204.586.208.633.213.685.221.74.44 1.514.204.68.191.605.188.557a.75.75 0 0 1-.709.995H4.695a.75.75 0 0 1-.708-.996l.133-.394.138-.426.312-1.02.384-1.306.223-.74.216-.685.21-.633.206-.586.204-.542c.749-1.91 1.5-3.014 2.68-4.153Zm21.42.989c-1.986-2.027-5.045-2.988-9.689-2.988-5.147 0-8.527.991-10.689 3.079-.771.744-1.332 1.47-1.851 2.531l-.193.415c-.096.215-.191.444-.287.69l-.192.51-.098.272-.197.582c-.034.1-.067.204-.101.31l-.208.66-.216.72-.382 1.3-.278.911h28.26l-.117-.381-.16-.535-.327-1.126-.326-1.104-.206-.662-.199-.608-.194-.558-.19-.512c-.634-1.635-1.247-2.574-2.16-3.506Z"
                      fill="#a33662"
                    />
                    <path
                      d="M27.735 33.576a.75.75 0 0 1 .871.462l.03.098.883 3.79a.75.75 0 0 1-1.431.438l-.03-.098-.883-3.79a.75.75 0 0 1 .56-.9Zm-16.648.56a.75.75 0 0 1 1.477.24l-.017.1-.883 3.79a.75.75 0 0 1-1.477-.24l.016-.1.884-3.79Z"
                      fill="#a33662"
                    /></svg
                ></span>
                Logga ut
              </a>
            </nav>
          </div>
        </div>
      </div>
      <div
        class="ic-page-header__item iu-height-full iu-hide-lg iu-hide-xl iu-hide-xxl"
      >
        <!-- onclick only for demo -->
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
          aria-label="Öppna/stäng huvudmeny"
          aria-expanded="false"
        >
          <span class="lines-button x">
            <span class="lines"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
`,
  ]);
export const IneraAdminNavbar = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <li
        class="ic-page-header__item ic-page-header__service-container"
        role="presentation"
      >
        <h1 class="ic-page-header__service-name">Tjänstens namn</h1>
        <h2 class="ic-page-header__service-inera">En tjänst från Inera</h2>
      </li>

      <div
        class="ic-page-header__item iu-height-full iu-hide-lg iu-hide-xl iu-hide-xxl"
      >
        <!-- onclick only for demo -->
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
          aria-label="Öppna/stäng huvudmeny"
          aria-expanded="false"
        >
          <span class="lines-button x">
            <span class="lines"></span>
          </span>
        </button>
      </div>
    </div>
    <div
      role="presentation"
      class="ic-page-header__line-horizontal iu-hide-md iu-hide-sm"
    ></div>
    <nav aria-label="Huvudmeny" class="ic-topnav iu-hide-md iu-hide-sm">
      <ul>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-0"
          >
            <span>Link 1</span>
          </a>
        </li>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-1"
          >
            <span>Link 2</span>
          </a>
        </li>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-2"
          >
            <span>Link 3</span>
          </a>
        </li>
      </ul>
      <div class="ic-meganav" id="subnav-2" aria-hidden="false">
        <div class="ic-meganav__container">
          <nav class="ic-meganav__menu" aria-label="Mega">
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)" aria-current="page">
                  Nuvarande sida
                </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 1 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 2 </a>
              </li>
            </ul>
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 3 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 4 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 5 </a>
              </li>
            </ul>
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 6 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 7 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 8 </a>
              </li>
            </ul>
            <ul class="ic-meganav__list">
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 9 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 10 </a>
              </li>
              <li class="ic-meganav__list__item">
                <a href="javascript:void(0)"> Vanlig sida 11 </a>
              </li>
            </ul>
            </nav>
        </div>
      </div>
    </nav>
  </div>
</header>
`,
  ]);
export const LoggedIn = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <div class="ic-page-header__item ic-page-header__logo-container">
        <a class="ic-page-header__logo-link" href="#/">
          <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
        </a>
      </div>
      <div class="ic-page-header__item iu-gutter ic-avatar-box">
        <div
          role="presentation"
          class="iu-svg-icon ic-avatar-box__icon"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 33 40"
            fill="none"
            width="33"
            height="40"
            aria-hidden="true"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M10.478 9.037a1 1 0 0 1 1-1h4.547a1 1 0 0 1 1 1v4.741h1.272a1 1 0 1 1 0 2h-2.272a1 1 0 0 1-1-1v-4.74h-3.547a1 1 0 0 1-1-1Z"
              fill="#C12143"
            />
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M15.972 0C10.495 0 5.741 4.708 5.741 10.273c0 3 1.222 6.062 3.058 8.376 1.824 2.299 4.392 4.017 7.173 4.017 3.143 0 5.971-1.598 7.99-3.898 2.018-2.3 3.297-5.378 3.297-8.495C27.259 4.446 22.229 0 15.972 0ZM7.741 10.273C7.741 5.813 11.599 2 15.972 2c5.346 0 9.287 3.734 9.287 8.273 0 2.586-1.071 5.205-2.8 7.176-1.73 1.97-4.044 3.217-6.487 3.217-1.95 0-3.999-1.235-5.607-3.26-1.596-2.012-2.624-4.646-2.624-7.133Zm9.333 13.838c-5.541 0-9.5 1.083-12.15 3.642-1.89 1.823-2.716 3.592-4.001 8.002v.001l-.273.93v.002c-.226.757-.406 1.33-.594 1.87A1 1 0 0 0 1 39.889h31a1 1 0 0 0 .945-1.328 40.372 40.372 0 0 1-.592-1.87v-.001l-.333-1.144v-.001c-1.23-4.274-2.045-6.075-3.783-7.849-2.467-2.518-6.11-3.584-11.163-3.584ZM6.312 29.192c2.1-2.027 5.422-3.081 10.762-3.081 4.815 0 7.811 1.021 9.734 2.984 1.373 1.4 2.078 2.791 3.29 7.004l.335 1.15v.004l.19.635h-4.046l-.882-3.787a1 1 0 0 0-1.948.454l.777 3.333H8.476l.777-3.333a1 1 0 1 0-1.948-.454l-.883 3.787H2.376c.061-.199.124-.408.19-.631l.002-.003.275-.938c1.263-4.336 1.972-5.68 3.47-7.124Z"
              fill="#6A0032"
            />
          </svg>
        </div>
        <div class="iu-lh-narrow">
          <p class="ic-avatar-box__name">Namn Namnsson Nilsson</p>

          <nav aria-label="Användarmeny">
            <ul>
              <li class="iu-link-divider-right iu-hide-md iu-hide-sm iu-display-flex">
                <a
                  href="javascript:void(0)"
                  class="iu-color-main"
                  >Inställningar</a
                >
              </li>
              <li class="iu-hide-md iu-hide-sm iu-display-flex">
                <a href="javascript:void(0)" class="iu-color-main">Logga ut</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
    <nav
      aria-label="Användarmeny mobil"
      class="ic-nav iu-fs-200 iu-hide-from-lg ic-nav--full ic-nav--divider iu-bg-secondary-light"
    >
      <ul class="ic-container iu-gutter-nav">
        <li>
          <a href="javascript:void(0)">Inställningar</a>
        </li>
        <li>
          <a href="javascript:void(0)">Logga ut</a>
        </li>
        <li>
          <button
            onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
            type="button"
            class="ic-burger ic-page-header__burger"
            aria-label="Meny"
            aria-expanded="false"
          >
            <span class="lines-button x"> <span class="lines"></span> </span
            >Meny
          </button>
        </li>
      </ul>
    </nav>
  </div>
</header>
`,
  ]);
export const LoggedInWithMobileMenu1177 = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__inner">
    <div class="ic-page-header__item ic-page-header__logo-container">
      <a class="ic-page-header__logo-link" href="#/">
        <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
      </a>
    </div>
    <div class="ic-page-header__item iu-gutter ic-avatar-box">
      <div
        role="presentation"
        class="iu-svg-icon ic-avatar-box__icon"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 33 40"
          fill="none"
          width="33"
          height="40"
          aria-hidden="true"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M10.478 9.037a1 1 0 0 1 1-1h4.547a1 1 0 0 1 1 1v4.741h1.272a1 1 0 1 1 0 2h-2.272a1 1 0 0 1-1-1v-4.74h-3.547a1 1 0 0 1-1-1Z"
            fill="#C12143"
          />
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M15.972 0C10.495 0 5.741 4.708 5.741 10.273c0 3 1.222 6.062 3.058 8.376 1.824 2.299 4.392 4.017 7.173 4.017 3.143 0 5.971-1.598 7.99-3.898 2.018-2.3 3.297-5.378 3.297-8.495C27.259 4.446 22.229 0 15.972 0ZM7.741 10.273C7.741 5.813 11.599 2 15.972 2c5.346 0 9.287 3.734 9.287 8.273 0 2.586-1.071 5.205-2.8 7.176-1.73 1.97-4.044 3.217-6.487 3.217-1.95 0-3.999-1.235-5.607-3.26-1.596-2.012-2.624-4.646-2.624-7.133Zm9.333 13.838c-5.541 0-9.5 1.083-12.15 3.642-1.89 1.823-2.716 3.592-4.001 8.002v.001l-.273.93v.002c-.226.757-.406 1.33-.594 1.87A1 1 0 0 0 1 39.889h31a1 1 0 0 0 .945-1.328 40.372 40.372 0 0 1-.592-1.87v-.001l-.333-1.144v-.001c-1.23-4.274-2.045-6.075-3.783-7.849-2.467-2.518-6.11-3.584-11.163-3.584ZM6.312 29.192c2.1-2.027 5.422-3.081 10.762-3.081 4.815 0 7.811 1.021 9.734 2.984 1.373 1.4 2.078 2.791 3.29 7.004l.335 1.15v.004l.19.635h-4.046l-.882-3.787a1 1 0 0 0-1.948.454l.777 3.333H8.476l.777-3.333a1 1 0 1 0-1.948-.454l-.883 3.787H2.376c.061-.199.124-.408.19-.631l.002-.003.275-.938c1.263-4.336 1.972-5.68 3.47-7.124Z"
            fill="#6A0032"
          />
        </svg>
      </div>
      <div class="iu-lh-narrow">
        <p class="ic-avatar-box__name">Namn Namnsson Nilsson</p>
        <nav aria-label="Användarmeny">
          <ul>
            <li class="iu-link-divider-right iu-hide-md iu-hide-sm iu-display-flex">
              <a
                href="javascript:void(0)"
                class=" iu-color-main"
                >Inställningar</a
              >
            </li>
            <li class="iu-hide-md iu-hide-sm iu-display-flex">
              <a href="javascript:void(0)" class="iu-color-main">Logga ut</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <nav
    aria-label="Huvudmeny"
    class="ic-nav iu-fs-200 ic-nav--full ic-nav--divider iu-bg-secondary-light"
  >
    <ul class="ic-container iu-gutter-nav">
      <li>
        <a href="javascript:void(0)">Link</a>
      </li>
      <li>
        <a href="javascript:void(0)">Link</a>
      </li>
      <li>
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger"
          aria-label="Meny"
          aria-expanded="false"
        >
          <span class="lines-button x"> <span class="lines"></span> </span>Meny
        </button>
      </li>
    </ul>
  </nav>
</header>
`,
  ]);
/* The Inera version has no links under the header, the rest is the same
as the 1177 version */ export const LoggedInWithMobileMenuInera = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <div class="ic-page-header__item ic-page-header__logo-container">
        <a class="ic-page-header__logo-link" href="#/">
          <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
        </a>
      </div>
      <div class="ic-page-header__item iu-gutter ic-avatar-box">
        <div
          role="presentation"
          class="iu-svg-icon ic-avatar-box__icon"
        >
          <!-- This SVG is for 1177 only -->
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="35"
            height="35"
            viewBox="0 0 35 35"
          >
            <path
              fill="#6A0032"
              d="M24.719 10.5c0-3.524-3.106-6.344-7.219-6.344-3.364 0-6.344 2.935-6.344 6.344 0 3.87 3.232 8.094 6.344 8.094 3.847 0 7.219-4.062 7.219-8.094zm1.312 0c0 4.709-3.9 9.406-8.531 9.406-3.925 0-7.656-4.875-7.656-9.406 0-4.138 3.571-7.656 7.656-7.656 4.811 0 8.531 3.377 8.531 7.656z"
              transform="translate(-1058 -171) translate(0 140) translate(1058 31)"
            />
            <g fill="#6A0032">
              <path
                d="M23.595 10.719c-.06-.194-.122-.398-.187-.62-.07-.234-.082-.277-.255-.879-.851-2.957-1.391-4.216-2.534-5.383-1.486-1.516-3.82-2.306-7.494-2.306-4.076 0-6.657.816-8.275 2.378C3.617 5.1 3.056 6.37 2.177 9.385l-.21.716c-.066.222-.127.426-.187.618h21.815zm-23.34.44c.146-.42.285-.86.454-1.431l.208-.71c.942-3.232 1.57-4.65 3.022-6.053C5.83 1.137 8.737.219 13.125.219c4 0 6.672.903 8.432 2.7 1.346 1.374 1.947 2.775 2.857 5.938l.253.872c.165.56.306 1.007.453 1.43.148.427-.169.872-.62.872H.875c-.451 0-.768-.445-.62-.871z"
                transform="translate(-1058 -171) translate(0 140) translate(1058 31) translate(5.25 21)"
              />
              <path
                d="M20.117 10.955c.07.355-.16.7-.516.771-.355.07-.7-.16-.771-.516l-.666-3.353c-.07-.356.16-.701.516-.772.355-.07.7.16.771.516l.666 3.354zM5.515 7.601c.07-.355.416-.586.771-.516.356.071.586.416.516.772l-.666 3.353c-.07.356-.416.587-.771.516-.356-.07-.587-.416-.516-.771L5.515 7.6z"
                transform="translate(-1058 -171) translate(0 140) translate(1058 31) translate(5.25 21)"
              />
            </g>
            <path
              fill="#C12143"
              d="M16.844 10.281H14c-.362 0-.656-.294-.656-.656 0-.362.294-.656.656-.656h3.5c.362 0 .656.294.656.656v3.719h1.094c.362 0 .656.294.656.656 0 .362-.294.656-.656.656H17.5c-.362 0-.656-.294-.656-.656v-3.719z"
              transform="translate(-1058 -171) translate(0 140) translate(1058 31)"
            />
          </svg>
        </div>
        <div class="iu-lh-narrow">
          <p class="ic-avatar-box__name">Namn Namnsson Nilsson</p>
          <nav aria-label="Användarmeny">
            <ul>
              <li class="iu-link-divider-right iu-hide-md iu-hide-sm iu-display-flex">
                <a
                  href="javascript:void(0)"
                  class="iu-color-main"
                  >Inställningar</a
                >
              </li>
              <li class="iu-hide-md iu-hide-sm iu-display-flex">
                <a href="javascript:void(0)" class="iu-color-main">Logga ut</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="ic-page-header__item iu-height-full">
        <!-- onclick only for demo -->
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger"
          aria-label="Öppna/stäng huvudmeny"
          aria-expanded="false"
        >
          <span class="lines-button x">
            <span class="lines"></span>
          </span>
        </button>
      </div>
    </div>
  </div>
</header>
`,
  ]);
export const WithMenuUnder = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__container">
    <div class="ic-page-header__inner">
      <div class="ic-page-header__item ic-page-header__logo-container">
        <a class="ic-page-header__logo-link" href="#/">
          <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
        </a>
      </div>
    </div>
  </div>
  <nav aria-label="Huvudmeny" class="ic-topnav iu-hide-md iu-hide-sm">
    <ul class="ic-container">
      <li class="ic-topnav__item">
        <a
          class="ic-topnav__link selected"
          href="javascript:void(0)"
          aria-expanded="false"
          aria-controls="subnav-0"
        >
          <span>Menu item 1</span>
        </a>
        <div class="ic-meganav" id="subnav-0" aria-hidden="true"></div>
      </li>
      <li class="ic-topnav__item">
        <a
          class="ic-topnav__link"
          href="javascript:void(0)"
          aria-expanded="false"
          aria-controls="subnav-1"
        >
          <span>Menu item 2</span>
        </a>
        <div class="ic-meganav" id="subnav-1" aria-hidden="true"></div>
      </li>
      <li class="ic-topnav__item">
        <a
          class="ic-topnav__link"
          href="javascript:void(0)"
          aria-expanded="false"
          aria-controls="subnav-2"
        >
          <span>Menu item 3</span>
        </a>
        <div class="ic-meganav" id="subnav-2" aria-hidden="true"></div>
      </li>
    </ul>
  </nav>
</header>
`,
  ]);
export const WithMenuSide = () =>
  markupWithCodeExample(`
<header class="ic-page-header">
  <div class="ic-page-header__inner">
    <div class="ic-page-header__item ic-page-header__logo-container">
      <a class="ic-page-header__logo-link" href="#/">
        <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
      </a>
    </div>

    <nav
      aria-label="Huvudmeny"
      class="ic-page-header__item iu-align-self-end ic-topnav iu-hide-md iu-hide-sm"
    >
      <ul class="ic-container">
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link selected"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-0"
          >
            <span>Menu item 1</span>
          </a>
          <div class="ic-meganav" id="subnav-0" aria-hidden="true"></div>
        </li>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-1"
          >
            <span>Menu item 2</span>
          </a>
          <div class="ic-meganav" id="subnav-1" aria-hidden="true"></div>
        </li>
        <li class="ic-topnav__item">
          <a
            class="ic-topnav__link"
            href="javascript:void(0)"
            aria-expanded="false"
            aria-controls="subnav-2"
          >
            <span>Menu item 3</span>
          </a>
          <div class="ic-meganav" id="subnav-2" aria-hidden="true"></div>
        </li>
      </ul>
    </nav>
  </div>
</header>
`);
export const WithMobileMenu = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__inner">
    <div class="ic-page-header__item ic-page-header__logo-container">
      <a class="ic-page-header__logo-link" href="#/">
        <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
      </a>
    </div>

    <div class="ic-page-header__item iu-height-full">
        <button
          onClick="void(0)"
          aria-label="Sök efter information"
          class="ic-page-header__button iu-flex iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
        >
          <span role="presentation" class="ic-search-image"></span>
        </button>

        <!-- onclick only for demo -->
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger iu-hide-lg iu-hide-xl iu-hide-xxl iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
          aria-label="Öppna/stäng huvudmeny"
          aria-expanded="false"
        >
          <span class="lines-button x close">
            <span class="lines"></span>
          </span>
        </button>
    </div>
  </div>

  <nav aria-label="Användarmeny" class="ic-nav-list" id="mobile-nav">
    <ul class="ic-nav-list__list">
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 1</a>
        <button
          aria-expanded="false"
          aria-controls="submenu-0"
          class="ic-nav-list__expand"
        >
          <span class="iu-sr-only">Visa innehåll för Menu item 1</span>
        </button>
        <ul hidden class="ic-nav-list__list" id="submenu-0"></ul>
      </li>
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 2</a>
      </li>
      <li
        class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
      >
        <a href="javascript:void(0)">Menu item 3</a>
        <button
          aria-expanded="true"
          aria-controls="submenu-1"
          class="ic-nav-list__expand"
        >
          <span class="iu-sr-only">Visa innehåll för Menu item 1</span>
        </button>
        <ul class="ic-nav-list__list" id="submenu-1">
          <li class="ic-nav-list__item">
            <a href="javascript:void(0)">Submenu item 1</a>
          </li>
          <li
            class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
          >
            <a href="javascript:void(0)">Submenu item 2</a>
            <button
              aria-expanded="true"
              aria-controls="submenu-2"
              class="ic-nav-list__expand"
            >
              <span class="iu-sr-only">Visa innehåll för Submenu item 2</span>
            </button>
            <ul class="ic-nav-list__list" id="submenu-2">
              <li class="ic-nav-list__item">
                <a href="javascript:void(0)">Sub Submenu item 1</a>
              </li>
              <li
                class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
              >
                <a href="javascript:void(0)">Sub Submenu item 2</a>
                <button
                  aria-expanded="true"
                  aria-controls="submenu-3"
                  class="ic-nav-list__expand"
                >
                  <span class="iu-sr-only"
                    >Visa innehåll för Sub Submenu item 2</span
                  >
                </button>
                <ul class="ic-nav-list__list" id="submenu-3">
                  <li class="ic-nav-list__item">
                    <a href="javascript:void(0)">Sub sub submenu item 1</a>
                  </li>
                  <li
                    class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
                  >
                    <a href="javascript:void(0)">Sub sub submenu item 2</a>
                    <button
                      aria-expanded="true"
                      aria-controls="submenu-4"
                      class="ic-nav-list__expand"
                    >
                      <span class="iu-sr-only"
                        >Visa innehåll för Sub Submenu item 2</span
                      >
                    </button>
                    <ul class="ic-nav-list__list" id="submenu-4">
                      <li class="ic-nav-list__item">
                        <a href="javascript:void(0)"
                          >Sub sub sub submenu item 1</a
                        >
                      </li>
                      <li class="ic-nav-list__item">
                        <a aria-current="page" href="javascript:void(0)"
                          >Sub sub sub submenu item 2</a
                        >
                      </li>
                      <li class="ic-nav-list__item">
                        <a href="javascript:void(0)"
                          >Sub sub sub submenu item 3</a
                        >
                      </li>
                      <li class="ic-nav-list__item">
                        <a href="javascript:void(0)"
                          >Sub sub sub submenu item 4</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="ic-nav-list__item">
                    <a href="javascript:void(0)">Sub sub submenu item 3</a>
                  </li>
                  <li class="ic-nav-list__item">
                    <a href="javascript:void(0)">Sub sub submenu item 4</a>
                  </li>
                </ul>
              </li>
              <li class="ic-nav-list__item">
                <a href="javascript:void(0)">Submenu item 3</a>
              </li>
            </ul>
          </li>
          <li class="ic-nav-list__item">
            <a href="javascript:void(0)">Submenu item 3</a>
          </li>
        </ul>
      </li>
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 4</a>
      </li>
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 5</a>
      </li>
    </ul>
  </nav>
</header>
`,
  ]);
export const AdminWithMobileMenu = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
    <div class="ic-page-header__inner">
      <li
        class="ic-page-header__item ic-page-header__service-container"
        role="presentation"
      >
        <h1 class="ic-page-header__service-name">Tjänstens namn</h1>
        <h2 class="ic-page-header__service-inera">En tjänst från Inera</h2>
      </li>

      <div
        class="ic-page-header__item iu-height-full"
      >
      <button
          onClick="void(0)"
          aria-label="Sök efter information"
          class="ic-page-header__button iu-flex iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
        >
          <span role="presentation" class="ic-search-image"></span>
        </button>

        <!-- onclick only for demo -->
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger iu-align-center iu-pl-400 iu-pr-400 iu-pt-400 iu-pb-400"
          aria-label="Öppna/stäng huvudmeny"
          aria-expanded="false"
        >
          <span class="lines-button x close">
            <span class="lines"></span>
          </span>
        </button>
      </div>
    </div> 

  <nav aria-label="Användarmeny" class="ic-nav-list" id="mobile-nav">
    <ul class="ic-nav-list__list">
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 1</a>
        <button
          aria-expanded="false"
          aria-controls="submenu-0"
          class="ic-nav-list__expand"
        >
          <span class="iu-sr-only">Visa innehåll för Menu item 1</span>
        </button>
        <ul hidden class="ic-nav-list__list" id="submenu-0"></ul>
      </li>
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 2</a>
      </li>
      <li
        class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
      >
        <a href="javascript:void(0)">Menu item 3</a>
        <button
          aria-expanded="true"
          aria-controls="submenu-1"
          class="ic-nav-list__expand"
        >
          <span class="iu-sr-only">Visa innehåll för Menu item 1</span>
        </button>
        <ul class="ic-nav-list__list" id="submenu-1">
          <li class="ic-nav-list__item">
            <a href="javascript:void(0)">Submenu item 1</a>
          </li>
          <li
            class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
          >
            <a href="javascript:void(0)">Submenu item 2</a>
            <button
              aria-expanded="true"
              aria-controls="submenu-2"
              class="ic-nav-list__expand"
            >
              <span class="iu-sr-only">Visa innehåll för Submenu item 2</span>
            </button>
            <ul class="ic-nav-list__list" id="submenu-2">
              <li class="ic-nav-list__item">
                <a href="javascript:void(0)">Sub Submenu item 1</a>
              </li>
              <li
                class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
              >
                <a href="javascript:void(0)">Sub Submenu item 2</a>
                <button
                  aria-expanded="true"
                  aria-controls="submenu-3"
                  class="ic-nav-list__expand"
                >
                  <span class="iu-sr-only"
                    >Visa innehåll för Sub Submenu item 2</span
                  >
                </button>
                <ul class="ic-nav-list__list" id="submenu-3">
                  <li class="ic-nav-list__item">
                    <a href="javascript:void(0)">Sub sub submenu item 1</a>
                  </li>
                  <li
                    class="ic-nav-list__item ic-nav-list__item--has-children ic-nav-list__item--expanded"
                  >
                    <a href="javascript:void(0)">Sub sub submenu item 2</a>
                    <button
                      aria-expanded="true"
                      aria-controls="submenu-4"
                      class="ic-nav-list__expand"
                    >
                      <span class="iu-sr-only"
                        >Visa innehåll för Sub Submenu item 2</span
                      >
                    </button>
                    <ul class="ic-nav-list__list" id="submenu-4">
                      <li class="ic-nav-list__item">
                        <a href="javascript:void(0)"
                          >Sub sub sub submenu item 1</a
                        >
                      </li>
                      <li class="ic-nav-list__item">
                        <a aria-current="page" href="javascript:void(0)"
                          >Sub sub sub submenu item 2</a
                        >
                      </li>
                      <li class="ic-nav-list__item">
                        <a href="javascript:void(0)"
                          >Sub sub sub submenu item 3</a
                        >
                      </li>
                      <li class="ic-nav-list__item">
                        <a href="javascript:void(0)"
                          >Sub sub sub submenu item 4</a
                        >
                      </li>
                    </ul>
                  </li>
                  <li class="ic-nav-list__item">
                    <a href="javascript:void(0)">Sub sub submenu item 3</a>
                  </li>
                  <li class="ic-nav-list__item">
                    <a href="javascript:void(0)">Sub sub submenu item 4</a>
                  </li>
                </ul>
              </li>
              <li class="ic-nav-list__item">
                <a href="javascript:void(0)">Submenu item 3</a>
              </li>
            </ul>
          </li>
          <li class="ic-nav-list__item">
            <a href="javascript:void(0)">Submenu item 3</a>
          </li>
        </ul>
      </li>
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 4</a>
      </li>
      <li class="ic-nav-list__item">
        <a href="javascript:void(0)">Menu item 5</a>
      </li>
    </ul>
  </nav>
</header>
`,
  ]);
export const WithMobileTools = () =>
  markupWithCodeExample([
    `
<header class="ic-page-header">
  <div class="ic-page-header__inner">
    <div class="ic-page-header__item ic-page-header__logo-container">
      <a class="ic-page-header__logo-link" href="#/">
        <span class="ic-page-header__logo-link-text"> [1177/Inera] </span>
      </a>
    </div>
  </div>

  <nav
    aria-label="Huvudmeny"
    class="ic-nav iu-fs-200 ic-nav--full ic-nav--divider iu-bg-secondary-light"
  >
    <ul class="ic-container iu-gutter-nav">
      <li>
        <a href="javascript:void(0)">Link</a>
      </li>
      <li>
        <a href="javascript:void(0)">Link</a>
      </li>
      <li>
        <button
          onclick="this.querySelectorAll('.lines-button')[0].classList.toggle('close')"
          type="button"
          class="ic-burger ic-page-header__burger"
          aria-label="Meny"
          aria-expanded="false"
        >
          <span class="lines-button x"> <span class="lines"></span> </span>Meny
        </button>
      </li>
    </ul>
  </nav>
</header>
`,
  ]);
