@import "./default.scss";

:root {
  --default-color: #396291;
  --icon-color: #3b4266;
  --icon-color2: #396291;
  --icon-alert: #c12143;
  --icon-alert2: #6a0032;
}

$global-theme-name: "1177-profession" !default;
// Should we include CSS variables in mixins and :root element.
$use-css-variables: false !default;
// Used for color-tint and color-shade functions.
$theme-color-interval: 8% !default;

$page-header-vertical-line-height: initial !default;

$core-breakpoints: (
  sm: 1px,
  md: 640px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);

$colors: map-merge(
  $colors,
  (
    "black": #1e1e1e,
    "white": #ffffff,
    "opened": #ffffff,
    "main": #c12143,
    "secondary-dark": #6a0032,
    "secondary-light": #c12143,
    "text": #353535,
    "text-light": #636466,
    "background": #fff,
    "cta": #396291,
    "cta-dark": #3b4266,
    "cta-light": #396291,
    "cta-text": white,
    "nav": #a00b36,
    "nav-horizontal": #c12143,
    "nav-current": yellow,
    "nav-dark": #a00b36,
    "nav-light": #a00b36,
    "nav-text": white,
    "muted": #636466,
    "heading": #353535,
    "highlight": #333,
    "information": #808285,
    "information-light": #FFF8E0,
    "error": #C12143,
    "error-light": #FAEEF0,
    "success": #419002,
    "success-light": #EEF8EE,
    "observe": #396291,
    "observe-light": #f1f2f2,
    "notification": #c12143,
    "table-lines": #c12143,
  )
);

$fonts: (
  body: (
    "Open Sans",
    arial,
    sans-serif,
  ),
  secondary: (
    "Inter",
    arial,
    sans-serif,
  ),
  heading: (
    "Inter",
    "Open Sans",
    sans-serif,
  ),
  monospace: (
    "monospace",
  ),
);

$spacing: map-merge(
  $spacing,
  (
    gutter: rem-calc(20),
    0: rem-calc(0),
    100: rem-calc(1),
    200: rem-calc(5),
    300: rem-calc(10),
    400: rem-calc(15),
    500: rem-calc(20),
    600: rem-calc(25),
    700: rem-calc(30),
    800: rem-calc(35),
    900: rem-calc(40),
    1000: rem-calc(45),
    xl: rem-calc(55),
    xxl: rem-calc(90),
  )
);

$fontSizes: map-merge(
  $fontSizes,
  (
    h1: (
      em-calc(32),
      em-calc(32),
      em-calc(48),
    ),
    h1--small: (
      em-calc(28),
      em-calc(28),
      em-calc(36),
    ),
    h2: (
      em-calc(22),
      em-calc(22),
      em-calc(24),
    ),
    h3: em-calc(20),
    h4: em-calc(16),
    sm: em-calc(14),
    xs: em-calc(12),
    preamble: (
      em-calc(18),
      em-calc(18),
      em-calc(22),
    ),
  )
);

$fontWeights: map-merge(
  $fontWeights,
  (
    "heading": 700,
    "bold": 600,
    "nav": 400,
    "regular": 600,
  )
);

$lineHeights: map-merge(
  $lineHeights,
  (
    "heading": 1.25,
    "subtitle": 1.2em,
    "subtitle--small": 1.43em,
    "listing": 1.5em,
  )
);

$letterSpacing: map-merge(
  $letterSpacing,
  (
    h1: -0.026em,
    h1--small: -0.028em,
    h2: -0.021em,
    h3: -0.02em,
    subtitle: 0.075em,
    subtitle--small: 0.072em,
  )
);

$boxShadow: map-merge(
  $boxShadow,
  (
    "card": 0 0 2px 0 rgba(0, 0, 0, 0.3),
  )
);

$radius: map-merge(
  $radius,
  (
    sm: rem-calc(4),
    md: rem-calc(10),
    lg: rem-calc(20),
    xl: rem-calc(50),
    xxl: rem-calc(100),
  )
);

/* Global variables */

$container-width: rem-calc(1280) !default;
$narrow-container-width: rem-calc(640) !default;
$gutter: rem-calc(20) !default;
$focus-offset: 2px !default;
$divider-color: get($colors, "stone-dark") !default;
$page-padding-bottom: rem-calc(150);

/* Card */

$card-inspiration-top-border: true !default;
$card-inspiration-padding: rem-calc(25) rem-calc(20) rem-calc(20) !default;
$card-inspiration-title-color: get($colors, "main") !default;
$card-padding: get($spacing, "md") !default;

/* Form */

$input-background: get($colors, "sky-background") !default;
$input-border-color: get($colors, "cta") !default;
$input-disabled-background: get($colors, "white") !default;
$input-color: get($colors, "text"); // black?
$input-disabled-color: unset !default;
$input-disabled-border-color: get($colors, "stone-clear") !default;
$input-border-radius: get($radius, "card") !default;
$input-focus-box-shadow: inset 2px 6px 6px 0 rgba(99, 100, 102, 0.2);
$input-error-border-style: dashed;
$input-error-background-color: get($colors, "error-light") !default;
$input-error-focus-box-shadow: inset 2px 6px 6px 0
  rgba(get($colors, "error"), 0.2) !default;
$input-min-height: rem-calc(50) !default;
$input-padding: rem-calc(12) rem-calc(20) !default;
$input-placeholder-color: get($colors, "muted") !default;
$input-placeholder-font-style: italic !default;

$checkbox-border-color: $input-border-color !default;
$checkbox-border-radius: get($radius, "sm") !default;

$dropdown-font-weight: get($fontWeights, "bold");
$dropdown-icon-background: transparent !default;
$dropdown-icon-color: get($colors, "cta") !default;
$dropdown-disabled-icon-color: get($colors, "muted") !default;
$dropdown-focus-box-shadow: inset 2px 6px 6px 0
  rgba(get($colors, "muted"), 0.15);

$form-button-font-size: rem-calc(20);
$form-button-font-weight: get($fontWeights, "bold");
$form-button-border-radius: $input-min-height;
$form-button-disabled-color: get($colors, "stone-base");

%error-message-animation {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: bounceInDown;
}

/* tabs */

%ic-tabbed__tab {
  border-radius: rem-calc(10) rem-calc(10) 0 0;
}

%ic-tabbed__tab_color {
  background-color: get($colors, "sky-base");
}

/* forms */

%dropdown-icon-color {
  color: get($colors, "sky-base");
}

%border-radius {
  border-radius: 10px;
}

/* header */
$page-header-background: get($colors, "white");
$page-header-inner-background: get($colors, "white");
$page-header-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$page-header-faux-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.3) inset;
$page-header-logo-container-background: get($colors, "white");
$page-header-logo-width: rem-calc(120);
$page-header-mobile-tools-font-size: rem-calc(14);
$page-header-font: get($fonts, "secondary");
$page-header-height: rem-cal(82);
$page-header-height-md: rem-calc(50);
$page-header-height-lg: rem-calc(55);
$page-header-padding-top: rem-calc(0);
$page-header-padding-bottom: rem-calc(0);
$page-header__burger-padding-top: 1rem !default;
$page-header__burger-padding-bottom: 1rem !default;
$page-header__button-mr: rem-calc(17);

$avatar-icon-size: 22 !default;
$avatar-icon-size-lg: 44 !default;

$header-font-md: rem-calc(14);
$header-font-lg: rem-calc(24);
$header-line-height-md: rem-calc(25);
$header-line-height-md: rem-calc(36);

%ic-page-header__service-name {
  color: get($colors, "secondary-dark");
  font-weight: 700;
  letter-spacing: rem-calc(-0.4);
  font-size: rem-calc(14);
  line-height: rem-calc(13.1);
}

.ic-page-header {
  // box-shadow: none !important;
  .ic-nav-list {
    font-family: get($fonts, "body");
    font-weight: get($fontWeights, "nav");
    //box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.ic-page-header__inner {
  height: $page-header-height-md;
  padding-top: rem-calc(5) !important;
  padding-bottom: rem-calc(5) !important;

  @include im-basic-breakpoint(lg) {
    padding-top: rem-calc(5) !important;
    padding-bottom: rem-calc(5) !important;
    padding-left: rem-calc(20) !important;
    padding-right: rem-calc(5) !important;
    max-width: rem-calc(1280) !important;
  }
}

.ic-page-header__line-vertical {
  width: 1px;
  height: $page-header-vertical-line-height;
  margin-left: rem-calc(0);
  margin-right: rem-calc(0);
  background-color: get($colors, "secondary-dark");
}

// .iu-desktop-header-padding {
//   @include im-basic-breakpoint(lg) {
//     padding-top: rem-calc(28) !important;
//     padding-bottom: rem-calc(18) !important;
//   }
// }

.iu-mobile-header {
  @include im-basic-breakpoint(lg) {
    padding-top: rem-calc(0) !important;
    padding-bottom: rem-calc(0) !important;
  }
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* footer */
$page-footer-background: get($colors, "white");
$page-footer-heading-fontsize: rem-calc(24);

.ic-page-footer {
  padding-top: rem-calc(50);
  @include im-basic-breakpoint(lg) {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    margin-top: 20px;
  }

  .ic-page-footer__mobile {
    .ic-page-footer__about {
      background-color: get($colors, "white");

      .ic-page-footer__about__links {
        .ic-cookie-list {
          padding-top: rem-calc(0);
          padding-bottom: rem-calc(0);
          .ic-cookie-list--link {
            color: get($colors, "nav");
            text-decoration: underline;
          }
        }
      }

      .ic-page-footer__about__who {
        padding-top: rem-calc(35);
        padding-bottom: rem-calc(35);
        padding-left: rem-calc(40);
        padding-right: rem-calc(40);

        .ic-page-footer__about__who__service {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-bottom: rem-calc(25);
          text-decoration: none;

          .ic-page-footer__about__who__service--name {
            color: get($colors, "secondary-dark");
            font-size: rem-calc(11);
            font-weight: 700;
            line-height: rem-calc(13);
            letter-spacing: rem-calc(-0.25);
          }
        }

        .ic-page-footer__about__who--responsible {
          color: get($colors, "text-light");
          font-size: rem-calc(14);
          line-height: rem-calc(20);
          text-align: center;
        }
      }
    }
  }

  .ic-page-footer__desktop {
    .ic-page-footer__about {
      color: get($colors, "white");
      background-color: get($colors, "main");
      margin-top: rem-calc(70);

      .ic-page-footer__about__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;

        min-height: rem-calc(50);
        font-size: rem-calc(14);
        line-height: rem-calc(20);

        // .ic-page-footer__about__content__operator {
        // }

        .ic-page-footer__about__content__information {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;

          .ic-page-footer__about__content__information__link {
            color: get($colors, "white");
            line-height: rem-calc(19);

            &:focus {
              outline: 2px solid get($colors, "white");
              box-shadow: inset 10px 0 0 0 get($colors, "nav");
            }
          }
        }
      }
    }
  }
}

.ic-page-footer__menu {
  margin-bottom: rem-calc(25);
  .ic-nav-list {
    .ic-nav-list__list {
      .ic-nav-list__item {
        &[aria-expanded="true"] {
          background-color: get($colors, "white");
          .ic-nav-list__list {
            .ic-nav-list__item {
              background-color: get($colors, "white");
            }
          }
        }
      }
    }
  }
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a:hover {
  box-shadow: none !important;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item--has-children > .ic-nav-list__list > .ic-nav-list__item > a:hover {
  box-shadow: inset 10px 0 0 0 #faeef0 !important;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item--has-children > .ic-nav-list__list > .ic-nav-list__item--expanded > a {
  background-color: transparent !important;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item--has-children > .ic-nav-list__list > .ic-nav-list__item--expanded > .ic-nav-list__expand {
  background-color: transparent !important;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item--has-children > .ic-nav-list__list > .ic-nav-list__item > a {
  background-color: transparent !important;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item--has-children > .ic-nav-list__list > .ic-nav-list__item > .ic-nav-list__expand {
  background-color: transparent !important;
}

.ic-nav-list__item__sub a {
  font-size: 0.875em;
  font-family: inherit;
  font-weight: normal;
}

.ic-nav-list a::after,
.ic-nav-list__item a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0; /* Adjust this value to control the starting point of the underline */
  width: 100%; /* Adjust this value to control the length of the underline */
  height: 1px;
  background-color: #808285;
}

.ic-nav-list__item__sub:first-child::before {
  content: "";
  position: absolute;
  top: 0;
  border-top: 1px solid #808285; /* Replace #your-border-color with the desired color */
}

/* logo image */
$logo-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 255 99' aria-hidden='true' fill-rule='evenodd' fill='%23c12143'%3E%3Cpath d='M14.7 87.5c0 6.4 5.2 11.5 11.6 11.5s11.6-5.2 11.6-11.5v-76C37.9 5.2 32.7 0 26.3 0H12.6C5.6 0 0 5.7 0 12.5 0 19.5 5.7 25 12.7 25h2.1l-.1 62.5zm54.4-62.3v62.3c0 6.4 5.2 11.5 11.6 11.5s11.6-5.2 11.6-11.5v-76C92.3 5.2 87.1 0 80.7 0H67c-7 0-12.6 5.7-12.6 12.5 0 7 5.7 12.5 12.7 12.5l2 .2zm129 0h18.6L226.9 0h-28.8c-7 0-12.6 5.7-12.6 12.5-.1 7 5.6 12.7 12.6 12.7zM247.7.9c-6-2.4-12.7.5-15.1 6.5L202 83.1c-2.4 6 .5 12.6 6.5 15s12.7-.5 15.1-6.5l30.6-75.8c2.3-5.8-.6-12.6-6.5-14.9zM118.2 25.2h18.6L147 0h-28.8c-7 0-12.6 5.7-12.6 12.5-.1 7 5.6 12.7 12.6 12.7zM167.8.9c-6-2.4-12.7.5-15.1 6.5l-30.6 75.7c-2.4 6 .5 12.6 6.5 15 6 2.4 12.7-.5 15.1-6.5l30.6-75.8c2.3-5.8-.6-12.6-6.5-14.9z'/%3E%3C/svg%3E");
$logo-image-width: rem-calc(58);
$logo-image-height: rem-calc(20);
$logo-image-width-lg: rem-calc(63);
$logo-image-height-lg: rem-calc(24);

.ic-page-footer__logo-profession {
  background-image: $logo-image;
  background-position: center center;
  background-repeat: no-repeat;
  display: block;
  width: $logo-image-width;
  height: $logo-image-height;
}

/* user icon */
$user-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg' class='user-image'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.5186 11.8458C10.5186 6.01863 15.4988 1.03973 21.2797 1.03973C27.943 1.03973 33.1766 5.77431 33.1766 11.8458C33.1766 18.5957 27.6159 24.9335 21.2797 24.9335C15.7847 24.9335 10.5186 18.2988 10.5186 11.8458ZM31.5266 11.8458C31.5266 6.72451 27.0666 2.68973 21.2797 2.68973C16.41 2.68973 12.1686 6.93001 12.1686 11.8458C12.1686 17.4603 16.7906 23.2834 21.2797 23.2834C26.6531 23.2834 31.5266 17.729 31.5266 11.8458Z' fill='%236A0032'/%3e%3cpath d='M21.3363 9.69019C21.754 9.69019 22.0992 10.0006 22.1538 10.4032L22.1613 10.5152L22.1606 15.8686L23.7821 15.8694C24.1998 15.8694 24.545 16.1798 24.5996 16.5825L24.6071 16.6944C24.6071 17.1121 24.2968 17.4573 23.8941 17.5119L23.7821 17.5195H21.3363C20.9187 17.5195 20.5735 17.2091 20.5189 16.8064L20.5113 16.6944L20.5106 11.3399L16.4427 11.3402C16.025 11.3402 15.6798 11.0298 15.6252 10.6271L15.6177 10.5152C15.6177 10.0975 15.928 9.75235 16.3307 9.69772L16.4427 9.69019H21.3363Z' fill='%23C12143'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M9.56144 30.8411C12.2975 28.2 16.4158 26.9915 22.4654 26.9915C27.9775 26.9915 31.7604 28.1805 34.301 30.7737C35.4757 31.9728 36.2543 33.1721 37.0322 35.1795L37.2548 35.7757L37.4794 36.4201L37.708 37.1168L37.9428 37.8701L38.1857 38.6841L38.6688 40.3489L38.8936 41.0965L39.1044 41.7621L39.3104 42.375C39.4962 42.911 39.0982 43.4703 38.5309 43.4703H5.1643C4.59647 43.4703 4.19839 42.91 4.38525 42.3738L4.53241 41.9409L4.68411 41.4727L5.02722 40.3504L5.44901 38.9137L5.69463 38.0996L5.93188 37.3464L6.16289 36.6498L6.38977 36.0055L6.61464 35.4095C7.43809 33.3075 8.26375 32.0938 9.56144 30.8411ZM33.1223 31.9285C30.9381 29.699 27.5737 28.6415 22.4654 28.6415C16.8038 28.6415 13.0856 29.7326 10.7074 32.0283C9.85903 32.8472 9.24254 33.6461 8.67121 34.8134L8.45871 35.2691C8.35316 35.5063 8.24837 35.7582 8.14313 36.0273L7.93165 36.5893C7.89618 36.687 7.86056 36.7868 7.82476 36.8889L7.60733 37.5282C7.5706 37.6394 7.53358 37.7529 7.49624 37.869L7.26793 38.5959L7.02964 39.3869L6.60958 40.818L6.30405 41.8198H37.39L37.2612 41.4008L37.0851 40.8117L36.7257 39.5734L36.3671 38.3592L36.1407 37.6308L35.9218 36.962L35.7085 36.3483L35.4985 35.7851C34.802 33.9867 34.127 32.954 33.1223 31.9285Z' fill='%236A0032'/%3e%3cpath d='M30.5085 36.9333C30.9153 36.8385 31.3219 37.0624 31.4665 37.4422L31.4993 37.5495L32.4708 41.7183C32.5743 42.162 32.2984 42.6056 31.8546 42.709C31.4479 42.8038 31.0413 42.5799 30.8967 42.2001L30.8639 42.0928L29.8923 37.924C29.7889 37.4803 30.0648 37.0367 30.5085 36.9333Z' fill='%236A0032'/%3e%3cpath d='M12.1952 37.5495C12.2986 37.1057 12.7422 36.8299 13.1859 36.9333C13.5927 37.0281 13.8584 37.4087 13.8202 37.8133L13.8021 37.924L12.8306 42.0928C12.7271 42.5365 12.2836 42.8124 11.8398 42.709C11.4331 42.6142 11.1673 42.2336 11.2055 41.829L11.2236 41.7183L12.1952 37.5495Z' fill='%236A0032'/%3e%3c/svg%3e");
$user-image-width: rem-calc(26);
$user-image-height: rem-calc(26);
$user-image-width-lg: rem-calc(30);
$user-image-height-lg: rem-calc(30);

.ic-user-image {
  @if $user-image {
    @extend .iu-svg-icon-bg;
    background-image: $user-image;
    width: $user-image-width;
    height: $user-image-height;
    background-size: $user-image-width $user-image-height;
    align-self: center;

    @include im-basic-breakpoint("lg") {
      width: $user-image-width-lg;
      height: $user-image-height-lg;
      background-size: $user-image-width-lg $user-image-height-lg;
    }

    &-text {
      @extend .iu-sr-only;
    }
  }
}

.ic-user {
  display: flex;
  padding: rem-calc(12) rem-calc(19);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2) !important;

  .ic-user-image {
    margin-right: rem-calc(9);
  }

  .ic-user-name {
    color: get($colors, "stone-dark");
    font-family: get($fonts, "secondary");
    font-style: normal;
    font-weight: normal;
    font-size: rem-calc(14);
    line-height: rem-calc(24);
    max-width: rem-calc(160);

    @extend .iu-truncate-ellipsis;
  }

  .ic-user-link {
    flex: 1;
    display: flex;
    justify-content: flex-end;

    font-weight: normal;
    font-style: normal;
    font-size: rem-calc(12);
    line-height: rem-calc(24);
    color: get($colors, "nav");
  }
}

/* search icon */
$search-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='44' height='44' viewBox='0 0 44 44' fill='none' xmlns='http://www.w3.org/2000/svg' class='search-image'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M18.5986 0.275024C28.7185 0.275024 36.9223 8.47882 36.9223 18.5987C36.9223 22.7505 35.5414 26.5799 33.214 29.6525L42.9193 39.3579C43.895 40.3335 43.8832 41.9201 42.9016 42.9017C41.9609 43.8424 40.4646 43.8925 39.4828 43.0363L39.3578 42.9195L29.6523 33.2141C26.5797 35.5416 22.7504 36.9224 18.5986 36.9224C8.47869 36.9224 0.274902 28.7186 0.274902 18.5987C0.274902 8.47882 8.47869 0.275024 18.5986 0.275024ZM32.1555 30.9264C31.7653 31.3553 31.3551 31.7655 30.9263 32.1557L40.5245 41.7528C40.8518 42.0801 41.3938 42.0761 41.7349 41.735C42.0475 41.4224 42.077 40.9409 41.8275 40.6107L41.7526 40.5246L32.1555 30.9264ZM1.9249 18.5987C1.9249 9.39009 9.38997 1.92502 18.5986 1.92502C27.8072 1.92502 35.2723 9.39009 35.2723 18.5987C35.2723 27.8073 27.8072 35.2724 18.5986 35.2724C9.38997 35.2724 1.9249 27.8073 1.9249 18.5987Z' fill='%236A0032'/%3e%3cpath d='M18.5986 5.9198C19.0543 5.9198 19.4236 6.28916 19.4236 6.7448C19.4236 7.20043 19.0543 7.5698 18.5986 7.5698C12.5075 7.5698 7.56968 12.5076 7.56968 18.5987C7.56968 24.6899 12.5075 29.6277 18.5986 29.6277C24.6897 29.6277 29.6276 24.6899 29.6276 18.5987C29.6276 18.1431 29.9969 17.7737 30.4526 17.7737C30.9082 17.7737 31.2776 18.1431 31.2776 18.5987C31.2776 25.6011 25.601 31.2777 18.5986 31.2777C11.5962 31.2777 5.91968 25.6011 5.91968 18.5987C5.91968 11.5964 11.5962 5.9198 18.5986 5.9198Z' fill='%23C12143'/%3e%3c/svg%3e");
$search-image-width: rem-calc(20);
$search-image-height: rem-calc(20);
$search-image-width-lg: rem-calc(30);
$search-image-height-lg: rem-calc(30);

.ic-search-image {
  @if $search-image {
    @extend .iu-svg-icon-bg;
    background-image: $search-image;
    width: $search-image-width;
    height: $search-image-height;
    background-size: $search-image-width $search-image-height;
    align-self: center;

    @include im-basic-breakpoint("lg") {
      width: $search-image-width-lg;
      height: $search-image-height-lg;
      background-size: $search-image-width-lg $search-image-height-lg;
    }
  }
}

/* mobile menu icon */
$mobile-menu-image: url("data:image/svg+xml;charset=UTF-8, %3csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg' class='icon-mobilemenu'%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.455078 3.7C0.455078 3.3134 0.768479 3 1.15508 3H18.846C19.2326 3 19.546 3.3134 19.546 3.7C19.546 4.0866 19.2326 4.4 18.846 4.4H1.15508C0.76848 4.4 0.455078 4.0866 0.455078 3.7Z' fill='%236A0032'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.455078 9.76641C0.455078 9.37981 0.768479 9.06641 1.15508 9.06641H18.846C19.2326 9.06641 19.546 9.37981 19.546 9.76641C19.546 10.153 19.2326 10.4664 18.846 10.4664H1.15508C0.76848 10.4664 0.455078 10.153 0.455078 9.76641Z' fill='%236A0032'/%3e%3cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.455078 15.8328C0.455078 15.4462 0.768479 15.1328 1.15508 15.1328H18.846C19.2326 15.1328 19.546 15.4462 19.546 15.8328C19.546 16.2194 19.2326 16.5328 18.846 16.5328H1.15508C0.76848 16.5328 0.455078 16.2194 0.455078 15.8328Z' fill='%236A0032'/%3e%3c/svg%3e");
$mobile-menu-image-width: rem-calc(20);
$mobile-menu-image-height: rem-calc(20);

.ic-mobile-menu-image {
  @if $mobile-menu-image {
    @extend .iu-svg-icon-bg;
    background-image: $mobile-menu-image;
    width: $mobile-menu-image-width;
    height: $mobile-menu-image-height;

    &-text {
      @extend .iu-sr-only;
    }
  }
}

/* ic-nav */
$ic-nav-a-padding-y: rem-calc(0);

/* topnav */
$topnav-link-spacing: rem-calc(16);
$topnav-fontsize: rem-calc(16);
$topnav-height: rem-calc(37);

$navlist-chevron-size: rem-calc(5) !default;
$navlist-chevron-width: rem-calc(2) !default;

$meganav-icon-size: 0.375rem;

.ic-nav-user {
  display: flex;
}

.iu-nav--spacing {
  padding-left: rem-calc(16);
  padding-right: rem-calc(16);
  padding-top: rem-calc(14);
  padding-bottom: rem-calc(12);
}

.iu-user-image--spacing {
  margin-right: rem-calc(12);
}

/* navlist - colors */
$navlist-item-expanded-background: get($colors, "stone-background") !default;
$navlist-item-selected-background: get($colors, "stone-line") !default;
$navlist-item-expanded-box: #FAEEF0 !default;

$navlist-level-0-color: get($colors, "nav") !default;
$navlist-level-0-background: get($colors, "white") !default;

$navlist-level-0-expanded-color: get($colors, "nav") !default;
$navlist-level-0-expanded-background: get($colors, "white") !default;
$navlist-level-0-expanded-marker: get($colors, "main") !default;

$navlist-level-1-color: get($colors, "stone-dark") !default;
$navlist-level-1-background: get($colors, "stone-background") !default;
$navlist-level-1-expanded-color-chevron: get($colors, "nav") !default;

$navlist-level-1-expanded-color: get($colors, "stone-dark") !default;
$navlist-level-1-expanded-color-chevron: get($colors, "nav") !default;
$navlist-level-1-expanded-background: get($colors, "stone-line") !default;
$navlist-level-1-expanded-marker: get($colors, "main") !default;

$navlist-level-2-color: get($colors, "stone-dark") !default;
$navlist-level-2-background: get($colors, "stone-background") !default;
$navlist-level-2-marker: get($colors, "stone-line") !default;

$navlist-level-2-selected-color: get($colors, "stone-dark") !default;
$navlist-level-2-selected-background: get($colors, "stone-line") !default;
$navlist-level-2-selected-marker: get($colors, "main") !default;

$navlist-item-hover-background: get($colors, "main") !default;

.ic-nav-list {
  > .ic-nav-list__list {
    > .ic-nav-list__item {
      > a {
        /* Level 0 */
        color: $navlist-level-0-color;
        background-color: $navlist-level-0-background;

        &:hover {
          box-shadow: inset 10px 0 0 0 $navlist-item-hover-background;
        }
      }
      > .ic-nav-list__expand {
        /* Level 0 */
        // color: $navlist-level-0-expanded-color;
        background-color: $navlist-level-0-expanded-background;
      }
    }

    > .ic-nav-list__item--has-children {
      > .ic-nav-list__list {
        > .ic-nav-list__item {
          > a {
            /* Level 1 */
            color: $navlist-level-1-color;
            background-color: $navlist-level-1-background;

            &:hover {
              box-shadow: inset 10px 0 0 0 $navlist-item-hover-background;
            }
          }
          > .ic-nav-list__expand {
            /* Level 1 */
            // color: $navlist-level-1-color;
            background-color: $navlist-level-1-background;
          }
        }

        > .ic-nav-list__item--expanded {
          > a {
            /* Level 1 expanded */
            color: $navlist-level-1-expanded-color;
            background-color: $navlist-level-1-expanded-background;

            &:hover {
              box-shadow: inset 10px 0 0 0 $navlist-item-hover-background;
            }
          }
          > .ic-nav-list__expand {
            /* Level 1 expanded */
            // color: $navlist-level-1-expanded-color-chevron;
            background-color: $navlist-level-1-expanded-background;
          }
        }
      }
    }

    > .ic-nav-list__item--expanded {
      > a {
        /* Level 0 expanded */
        color: $navlist-level-0-expanded-color;
        background-color: $navlist-level-0-expanded-background;

        &:hover {
          box-shadow: inset 10px 0 0 0 $navlist-item-hover-background;
        }
      }
      > .ic-nav-list__expand {
        /* Level 0 expanded */
        // color: $navlist-level-0-expanded-color;
        background-color: $navlist-level-0-expanded-background;
      }
    }
  }
}

.ic-nav-list__expand {
  color: get($colors, "nav");
}

[dir="rtl"] .ic-nav-list {
  > .ic-nav-list__list {
    > .ic-nav-list__item {
      > a {
        /* Level 0 */
        color: $navlist-level-0-color;
        background-color: $navlist-level-0-background;

        &:hover {
          box-shadow: inset -10px 0 0 0 $navlist-item-hover-background;
        }
      }
      > .ic-nav-list__expand {
        /* Level 0 */
        // color: $navlist-level-0-expanded-color;
        background-color: $navlist-level-0-expanded-background;
      }
    }

    > .ic-nav-list__item--has-children {
      > .ic-nav-list__list {
        > .ic-nav-list__item {
          > a {
            /* Level 1 */
            color: $navlist-level-1-color;
            background-color: $navlist-level-1-background;

            &:hover {
              box-shadow: inset -10px 0 0 0 $navlist-item-hover-background;
            }
          }
          > .ic-nav-list__expand {
            /* Level 1 */
            // color: $navlist-level-1-color;
            background-color: $navlist-level-1-background;
          }
        }

        > .ic-nav-list__item--expanded {
          > a {
            /* Level 1 expanded */
            color: $navlist-level-1-expanded-color;
            background-color: $navlist-level-1-expanded-background;

            &:hover {
              box-shadow: inset -10px 0 0 0 $navlist-item-hover-background;
            }
          }
          > .ic-nav-list__expand {
            /* Level 1 expanded */
            // color: $navlist-level-1-expanded-color-chevron;
            background-color: $navlist-level-1-expanded-background;
          }
        }
      }
    }

    > .ic-nav-list__item--expanded {
      > a {
        /* Level 0 expanded */
        color: $navlist-level-0-expanded-color;
        background-color: $navlist-level-0-expanded-background;

        &:hover {
          box-shadow: inset -10px 0 0 0 $navlist-item-hover-background;
        }
      }
      > .ic-nav-list__expand {
        /* Level 0 expanded */
        // color: $navlist-level-0-expanded-color;
        background-color: $navlist-level-0-expanded-background;
      }
    }
  }
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item--has-children {
  color: get($colors, "text");
}

[dir="rtl"] .ic-nav-list > .ic-nav-list__list a:focus {
  box-shadow: inset -10px 0 0 0 get($colors, "secondary-light");
}

/* mobile nav */
$navlist-background: get($colors, "white") !default;
$navlist-text: get($colors, "nav") !default;
$navlist-fontweight: get($fontWeights, "bold");
$navlist-spacing-x: rem-calc(20);
$navlist-spacing-y: rem-calc(13);

/* section */
$section-spacing: 50px;
$section-divider-color: get($colors, "stone-line") !default;
$section-header-border: get($colors, "stone-line") !default;

/* breadcrumbs */
$breadcrumb-divider-color: get($colors, "black") !default;

/* button */
$button-font-weight: get($fontWeights, "bold") !default;
$button-font-size: get($fontSizes, 400) !default;
$button-font-family: get($fonts, "secondary") !default;
$button-border-radius: 30px !default;
$button-box-shadow-hover: 0 3px 8px 0 rgba(99, 100, 102, 0.2);
$button-padding: 0 get($spacing, 700) !default;
$button-min-height: rem-calc(50);
$secondary-button-background-hover: get($colors, "sky-background") !default;

%ic-button--large {
  min-height: rem-calc(50);
  font-size: rem-calc(18);
}

%ic-button--medium {
  min-height: rem-calc(40);
  font-size: rem-calc(16);
}

%ic-button--small {
  min-height: rem-calc(30);
  font-size: rem-calc(16);
}

/* alert */
$alert-local-border-color: get($colors, "stone-clear") !default;
$alert-info-border-color: get($colors, "stone-clear") !default;

/* typography */
$h1-color: get($colors, "black") !default;
$h2-color: get($colors, "black") !default;
$h1-line-height: 1.08em !default;
$h1--small-line-height: 1.278em !default;

$iu-color-anchor: get($colors, "sky-base") !default;

$preamble-font-weight: get($fontWeights, "light") !default;
$preamble-margin-bottom: rem-calc(30) !default;
$preamble-margin-top: rem-calc(30) !default;

$link-list-headline-use-divider: true !default;

$table-footer-color: get($colors, "muted") !default;

%link-chevron {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11' viewBox='0 0 7 11'%3E%3Cpath fill='%23C12143' d='M4.163 5.577l-3.87-3.87c-.39-.39-.39-1.024 0-1.414.39-.39 1.024-.39 1.414 0L6.284 4.87c.39.39.39 1.024 0 1.414l-4.577 4.577c-.39.39-1.024.39-1.414 0-.39-.39-.39-1.024 0-1.414l3.87-3.87z' transform='translate(-730 -3076) translate(0 2872) translate(730 119) translate(0 85)'/%3E%3C/svg%3E%0A");
}

/** custom styles */

%ic-page-header {
  color: get($colors, "nav");
  text-decoration: none;
}

%ic-page-header__logo-container {
  padding-right: get($spacing, "gutter");
}

.ic-buttonnav {
  position: relative;
  box-shadow: none !important;
  background-color: #fff;

  > .ic-buttonnav__container {
    @extend .ic-container;
    display: flex;

    // > .ic-buttonnav__item:first-child {
    // margin-left: -1rem;
    // }

    > .ic-buttonnav__item {
      list-style-type: none;
      display: block;
      flex: 0 0 auto;
      margin: 0;
      padding-bottom: 5px;
      border-radius: rem-calc(22.5);

      > .ic-buttonnav__link {
        font-family: get($fonts, "body");
        color: get($colors, "nav");
        background-color: get($colors, "white");
        border-radius: rem-calc(22.5);

        font-size: rem-calc(17);
        line-height: rem-calc(25.5);
        letter-spacing: rem-calc(-0.45);

        padding-top: rem-calc(2);
        padding-bottom: rem-calc(2);
        padding-left: rem-calc(10);
        padding-right: rem-calc(10);

        margin-top: 0;
        margin-bottom: 0;
        margin-left: rem-calc(-10);
        margin-right: 0;

        // height: 2.3125rem;
        display: block;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;

        outline-offset: 2px !important;

        margin-right: rem-calc(20);
        ::last-child {
          margin-right: rem-calc(0);
        }

        &.ic-buttonnav__link--selected {
          color: get($colors, "white");
          background-color: get($colors, "main");
        }
        &.ic-buttonnav__link--expanded {
          color: get($colors, "white");
          background-color: get($colors, "secondary-dark");
        }
        &:hover,
        &.hover {
          box-shadow: 0 0 0 1px get($colors, "main");
        }

        span {
          border-radius: rem-calc(22.5);
        }
      }
    }
  }
}

%ic-text-ul {
  padding-left: 0.6rem;
  @include im-basic-breakpoint(lg) {
    padding-left: 2rem;
  }
  li {
    position: relative;
    &:before {
      background: get($colors, "main");
      position: relative;
      border-radius: 50%;
      content: "";
      display: inline-block;
      left: 0;
      margin-left: rem-calc(-25);
      margin-right: rem-calc(15);
      bottom: rem-calc(2);
      height: rem-calc(8);
      width: rem-calc(8);
    }
  }
}

%ic-text-ol {
  padding-left: 0.6rem;
  @include im-basic-breakpoint(lg) {
    padding-left: 2rem;
  }
  li:before {
    display: inline-blVald sidaock;
    font-weight: 700;
    margin-left: rem-calc(-25);
    margin-right: rem-calc(15);
    position: relative;
    content: counter(item) ".";
  }
}

%article-list-item {
  border-radius: 0;
  border: none;
  &:hover {
    box-shadow: 0 4px 0 0 rgba(get($colors, "cta"), 0.5);
  }
}

%info-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 29.415C22.4558 29.415 28.5 23.3709 28.5 15.915C28.5 8.45919 22.4558 2.41504 15 2.41504C7.54416 2.41504 1.5 8.45919 1.5 15.915C1.5 23.3709 7.54416 29.415 15 29.415ZM15 30.915C23.2843 30.915 30 24.1993 30 15.915C30 7.63077 23.2843 0.915039 15 0.915039C6.71573 0.915039 0 7.63077 0 15.915C0 24.1993 6.71573 30.915 15 30.915Z" fill="%23353535"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.2859 18.6655C15.2666 18.8084 15.1446 18.915 15.0004 18.915C14.8558 18.915 14.7337 18.8079 14.7148 18.6646L13.5796 10.0507C13.5265 9.66407 13.5 9.37589 13.5 9.1862C13.5 8.72657 13.6482 8.35813 13.9447 8.0809C14.2412 7.80366 14.5973 7.66504 15.0133 7.66504C15.4292 7.66504 15.781 7.80366 16.0686 8.0809C16.3562 8.35813 16.5 8.77034 16.5 9.31752C16.5 9.49262 16.4823 9.73702 16.4469 10.0507L15.2859 18.6655ZM16.0608 23.7239C15.768 24.018 15.4144 24.165 15 24.165C14.5856 24.165 14.232 24.018 13.9392 23.7239C13.6464 23.4297 13.5 23.0745 13.5 22.6583C13.5 22.251 13.6464 21.9003 13.9392 21.6062C14.232 21.3121 14.5856 21.165 15 21.165C15.4144 21.165 15.768 21.3121 16.0608 21.6062C16.3536 21.9003 16.5 22.251 16.5 22.6583C16.5 23.0745 16.3536 23.4297 16.0608 23.7239Z" fill="%23636466"/></svg>');
}

%observe-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 29.415C22.4558 29.415 28.5 23.3709 28.5 15.915C28.5 8.45919 22.4558 2.41504 15 2.41504C7.54416 2.41504 1.5 8.45919 1.5 15.915C1.5 23.3709 7.54416 29.415 15 29.415ZM15 30.915C23.2843 30.915 30 24.1993 30 15.915C30 7.63077 23.2843 0.915039 15 0.915039C6.71573 0.915039 0 7.63077 0 15.915C0 24.1993 6.71573 30.915 15 30.915Z" fill="%23353535"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.2859 18.6655C15.2666 18.8084 15.1446 18.915 15.0004 18.915C14.8558 18.915 14.7337 18.8079 14.7148 18.6646L13.5796 10.0507C13.5265 9.66407 13.5 9.37589 13.5 9.1862C13.5 8.72657 13.6482 8.35813 13.9447 8.0809C14.2412 7.80366 14.5973 7.66504 15.0133 7.66504C15.4292 7.66504 15.781 7.80366 16.0686 8.0809C16.3562 8.35813 16.5 8.77034 16.5 9.31752C16.5 9.49262 16.4823 9.73702 16.4469 10.0507L15.2859 18.6655ZM16.0608 23.7239C15.768 24.018 15.4144 24.165 15 24.165C14.5856 24.165 14.232 24.018 13.9392 23.7239C13.6464 23.4297 13.5 23.0745 13.5 22.6583C13.5 22.251 13.6464 21.9003 13.9392 21.6062C14.232 21.3121 14.5856 21.165 15 21.165C15.4144 21.165 15.768 21.3121 16.0608 21.6062C16.3536 21.9003 16.5 22.251 16.5 22.6583C16.5 23.0745 16.3536 23.4297 16.0608 23.7239Z" fill="%23636466"/></svg>');
}

%error-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.9999 3.23549L28.4891 26.876C28.4919 26.8809 28.4961 26.8905 28.4984 26.9055C28.4989 26.9088 28.4993 26.9121 28.4995 26.9155H1.50054C1.50123 26.9074 1.50255 26.8999 1.50424 26.8934C1.5068 26.8835 1.50967 26.8777 1.51069 26.876L14.9999 3.23549ZM13.8664 2.19529C14.1979 1.61439 14.9108 1.29714 15.5767 1.64807L15.6003 1.66051L15.7111 1.72938L15.7321 1.74454C15.8997 1.86552 16.0344 2.02177 16.1334 2.19529L29.792 26.1326C30.1648 26.7861 30.0359 27.709 29.3907 28.1747C29.1816 28.3256 28.9288 28.4155 28.6585 28.4155H1.34133C0.490526 28.4155 0 27.6253 0 26.9282C0 26.6522 0.0693267 26.3753 0.20786 26.1326L13.8664 2.19529Z" fill="%236A0032"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.2859 19.6127C15.2666 19.7556 15.1446 19.8623 15.0004 19.8623C14.8558 19.8623 14.7337 19.7552 14.7148 19.6119L13.5796 10.998C13.5265 10.6113 13.5 10.3231 13.5 10.1335C13.5 9.67382 13.6482 9.30539 13.9447 9.02815C14.2412 8.75092 14.5973 8.6123 15.0133 8.6123C15.4292 8.6123 15.781 8.75092 16.0686 9.02815C16.3562 9.30539 16.5 9.7176 16.5 10.2648C16.5 10.4399 16.4823 10.6843 16.4469 10.998L15.2859 19.6127ZM16.0608 24.6711C15.768 24.9652 15.4144 25.1123 15 25.1123C14.5856 25.1123 14.232 24.9652 13.9392 24.6711C13.6464 24.377 13.5 24.0218 13.5 23.6055C13.5 23.1983 13.6464 22.8476 13.9392 22.5535C14.232 22.2594 14.5856 22.1123 15 22.1123C15.4144 22.1123 15.768 22.2594 16.0608 22.5535C16.3536 22.8476 16.5 23.1983 16.5 23.6055C16.5 24.0218 16.3536 24.377 16.0608 24.6711Z" fill="%23C12143"/></svg>');
}

%success-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 2.41504C7.54416 2.41504 1.5 8.45919 1.5 15.915C1.5 23.3709 7.54416 29.415 15 29.415C22.4558 29.415 28.5 23.3709 28.5 15.915C28.5 8.45919 22.4558 2.41504 15 2.41504ZM0 15.915C0 7.63077 6.71573 0.915039 15 0.915039C23.2843 0.915039 30 7.63077 30 15.915C30 24.1993 23.2843 30.915 15 30.915C6.71573 30.915 0 24.1993 0 15.915Z" fill="%23395428"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.9711 10.216C23.343 10.6172 23.343 11.2678 22.9711 11.6691C22.9711 11.6691 13.8148 21.5854 13.7545 21.65C13.3813 22.0498 12.7259 21.9906 12.2906 21.5178L8.6125 17.5232C8.1772 17.0504 8.12683 16.3432 8.49998 15.9434C8.87315 15.5437 9.52853 15.6029 9.96383 16.0756L13.0691 19.449L21.6247 10.216C21.9965 9.81472 22.5993 9.81472 22.9711 10.216Z" fill="%23419002"/></svg>');
}

/* notification */
%notification-text {
  color: get($colors, "white");
}

%notification-text-outline {
  color: get($colors, "notification");
}

/* TODO: Fix the arrow icon */
.icon-arrow.icon-arrow:before {
  font-size: rem-calc(10);
  width: 1.6em;
  height: 1.6em;
}
