@import "./default.scss";

:root {
  --default-color: #396291;
  --icon-color: #3b4266;
  --icon-color2: #396291;
  --icon-alert: #c12143;
  --icon-alert2: #6a0032;
}

$global-theme-name: "1177" !default;
// Should we include CSS variables in mixins and :root element.
$use-css-variables: false !default;
// Used for color-tint and color-shade functions.
$theme-color-interval: 8% !default;

$core-breakpoints: (
  sm: 1px,
  md: 640px,
  lg: 1024px,
  xl: 1200px,
  xxl: 1440px,
);

$colors: map-merge(
  $colors,
  (
    "black": #1e1e1e,
    "white": #ffffff,
    "opened": #ffffff,
    "main": #c12143,
    "secondary-dark": #6a0032,
    "secondary-light": #faeef0,
    "text": #353535,
    "text-light": #636466,
    "background": #fff,
    "cta": #396291,
    "cta-dark": #3b4266,
    "cta-light": #396291,
    "cta-text": white,
    "nav": #c12143,
    "nav-dark": #a00b36,
    "nav-light": #a00b36,
    "nav-text": #fff,
    "muted": #636466,
    "heading": #353535,
    "highlight": #333,
    "information": #808285,
    "information-light": #FFF8E0,
    "error": #C12143,
    "error-light": #FAEEF0,
    "success": #419002,
    "success-light": #EEF8EE,
    "observe": #396291,
    "observe-light": #f1f2f2,
    "accent40": #40775e,
    "notification": #c12143,
    "table-lines": #c12143,
  )
);

$fonts: (
  body: (
    "Open Sans",
    arial,
    sans-serif,
  ),
  secondary: (
    "Inter",
    arial,
    sans-serif,
  ),
  heading: (
    "Inter",
    "Open Sans",
    sans-serif,
  ),
  monospace: (
    "monospace",
  ),
);

$spacing: map-merge(
  $spacing,
  (
    gutter: rem-calc(20),
    menu: rem-calc(4),
    100: rem-calc(1),
    200: rem-calc(5),
    300: rem-calc(10),
    400: rem-calc(15),
    500: rem-calc(20),
    600: rem-calc(25),
    700: rem-calc(30),
    800: rem-calc(35),
    900: rem-calc(40),
    xl: rem-calc(50),
    xxl: rem-calc(90),
  )
);

$fontSizes: map-merge(
  $fontSizes,
  (
    h1: (
      em-calc(32),
      em-calc(32),
      em-calc(48),
    ),
    h1--small: (
      em-calc(26),
      em-calc(26),
      em-calc(36),
    ),
    h2: (
      em-calc(22),
      em-calc(22),
      em-calc(24),
    ),
    h3: em-calc(20),
    h4: em-calc(16),
    sm: em-calc(14),
    xs: em-calc(12),
    preamble: (
      em-calc(18),
      em-calc(18),
      em-calc(22),
    ),
  )
);

$fontWeights: map-merge(
  $fontWeights,
  (
    "heading": 700,
    "bold": 600,
    "nav": 400,
    "regular": 600,
  )
);

$lineHeights: map-merge(
  $lineHeights,
  (
    "heading": 1.25em,
    "subtitle": 1.2em,
    "subtitle--small": 1.43em,
    "listing": 1.5em,
  )
);

$letterSpacing: map-merge(
  $letterSpacing,
  (
    h1: -0.026em,
    h1--small: -0.028em,
    h2: -0.021em,
    h3: -0.02em,
    subtitle: 0.075em,
    subtitle--small: 0.072em,
  )
);

$boxShadow: map-merge(
  $boxShadow,
  (
    "card": 0 0 2px 0 rgba(0, 0, 0, 0.3),
  )
);

$radius: map-merge(
  $radius,
  (
    sm: rem-calc(4),
    md: rem-calc(10),
    lg: rem-calc(20),
    xl: rem-calc(50),
    xxl: rem-calc(100),
  )
);

/* Global variables */

$container-width: rem-calc(1280) !default;
$narrow-container-width: rem-calc(640) !default;
$gutter: rem-calc(20) !default;
$focus-offset: 2px !default;
$divider-color: get($colors, "stone-base") !default;
$page-padding-bottom: rem-calc(150);
$page-header__burger-padding-top: 1rem !default;
$page-header__burger-padding-bottom: 1rem !default;
$page-header__button-mr: rem-calc(17);

/* Card */

$card-inspiration-top-border: true !default;
$card-inspiration-padding: rem-calc(25) rem-calc(20) rem-calc(20) !default;
$card-inspiration-title-color: get($colors, "main") !default;
$card-padding: get($spacing, "md") !default;

/* Form */

$input-background: get($colors, "sky-background") !default;
$input-border-color: get($colors, "sky-base") !default;
$input-disabled-background: get($colors, "white") !default;
$input-color: get($colors, "stone-dark"); // black?
$input-disabled-color: unset !default;
$input-disabled-border-color: get($colors, "stone-clear") !default;
$input-border-radius: get($radius, "card") !default;
$input-focus-box-shadow: inset 2px 6px 6px 0 rgba(99, 100, 102, 0.2);
$input-error-border-style: dashed;
$input-error-background-color: get($colors, "error-light") !default;
$input-error-focus-box-shadow: inset 2px 6px 6px 0
  rgba(get($colors, "error"), 0.2) !default;
$input-min-height: rem-calc(50) !default;
$input-padding: rem-calc(12) rem-calc(20) !default;
$input-placeholder-color: get($colors, "muted") !default;
$input-placeholder-font-style: italic !default;

$checkbox-border-color: $input-border-color !default;
$checkbox-border-radius: get($radius, "sm") !default;

$dropdown-font-weight: get($fontWeights, "bold");
$dropdown-icon-background: transparent !default;
$dropdown-icon-color: get($colors, "cta") !default;
$dropdown-disabled-icon-color: get($colors, "muted") !default;
$dropdown-focus-box-shadow: inset 2px 6px 6px 0
  rgba(get($colors, "muted"), 0.15);

$form-button-font-size: rem-calc(20);
$form-button-font-weight: get($fontWeights, "bold");
$form-button-border-radius: $input-min-height;
$form-button-disabled-color: get($colors, "stone-base");

%error-message-animation {
  animation-duration: 0.6s;
  animation-fill-mode: both;
  animation-name: bounceInDown;
}

/* header */

%ic-page-header__item {
  padding-right: 1rem;
}

$page-header-background: linear-gradient(
  90deg,
  c("main") 50%,
  c("secondary-light") 50%
);
$page-header-inner-background: c("secondary-light");
$page-header-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
$page-header-faux-shadow: 0 10px 15px -15px rgba(0, 0, 0, 0.3) inset;
$page-header-logo-container-background: c("main");
$page-header-logo-width: rem-calc(120);
$page-header-mobile-tools-font-size: rem-calc(14);
$page-header-font: get($fonts, "secondary");

/* footer */
$page-footer-background: c("secondary-light");
$page-footer-padding-bottom: rem-calc(100);
$page-footer-heading-fontsize: rem-calc(24);

/* logo */
$logo-image: url("data:image/svg+xml,%3Csvg class='logo__svg' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 255 99' aria-hidden='true' fill-rule='evenodd' fill='%23ffffff'%3E%3Cpath d='M14.7 87.5c0 6.4 5.2 11.5 11.6 11.5s11.6-5.2 11.6-11.5v-76C37.9 5.2 32.7 0 26.3 0H12.6C5.6 0 0 5.7 0 12.5 0 19.5 5.7 25 12.7 25h2.1l-.1 62.5zm54.4-62.3v62.3c0 6.4 5.2 11.5 11.6 11.5s11.6-5.2 11.6-11.5v-76C92.3 5.2 87.1 0 80.7 0H67c-7 0-12.6 5.7-12.6 12.5 0 7 5.7 12.5 12.7 12.5l2 .2zm129 0h18.6L226.9 0h-28.8c-7 0-12.6 5.7-12.6 12.5-.1 7 5.6 12.7 12.6 12.7zM247.7.9c-6-2.4-12.7.5-15.1 6.5L202 83.1c-2.4 6 .5 12.6 6.5 15s12.7-.5 15.1-6.5l30.6-75.8c2.3-5.8-.6-12.6-6.5-14.9zM118.2 25.2h18.6L147 0h-28.8c-7 0-12.6 5.7-12.6 12.5-.1 7 5.6 12.7 12.6 12.7zM167.8.9c-6-2.4-12.7.5-15.1 6.5l-30.6 75.7c-2.4 6 .5 12.6 6.5 15 6 2.4 12.7-.5 15.1-6.5l30.6-75.8c2.3-5.8-.6-12.6-6.5-14.9z'/%3E%3C/svg%3E");
$logo-image-width: rem-calc(41);
$logo-image-height: rem-calc(16);
$logo-image-width-lg: rem-calc(120);
$logo-image-height-lg: rem-calc(44);
$logo-padding: 0 rem-calc(20);
$logo-padding-lg: 0 3.125rem 0 rem-calc(20);
$header-height: 100%;

/* topnav */
$topnav-fontsize: rem-calc(22);
$topnav-height: rem-calc(60);
$topnav-link-spacing: rem-calc(10);

$navbar-color: get($colors, "nav-dark");
$burger-color: get($colors, "secondary-dark") !default;
$meganav-icon-size: 0.375rem;

/* mobile nav */
// $navlist-item-expanded-box: get($colors, "nav") !default;
$navlist-spacing-y: rem-calc(13) !default;
$navlist-spacing-x: rem-calc(20) !default;
$navlist-fontweight: get($fontWeights, "bold");
$navlist-text-sub: get($colors, "nav-dark") !default;

/* section */
$section-spacing: 3.125rem;
$section-divider-color: get($colors, "stone-line") !default;
$section-header-border: get($colors, "stone-line") !default;

/* breadcrumbs */
$breadcrumb-divider-color: get($colors, "black") !default;

/* button */
$button-font-weight: get($fontWeights, "bold") !default;
$button-font-size: get($fontSizes, 400) !default;
$button-font-family: get($fonts, "secondary") !default;
$button-border-radius: 30px !default;
$button-box-shadow-hover: 0 3px 8px 0 rgba(99, 100, 102, 0.2);
$button-padding: 0 get($spacing, 700) !default;
$button-min-height: rem-calc(50);
$secondary-button-background-hover: get($colors, "sky-background") !default;

%ic-button--large {
  min-height: rem-calc(50);
  font-size: rem-calc(18);
}

%ic-button--medium {
  min-height: rem-calc(40);
  font-size: rem-calc(16);
}

%ic-button--small {
  min-height: rem-calc(30);
  font-size: rem-calc(16);
}

/* alert */
$alert-local-border-color: get($colors, "stone-clear") !default;
$alert-info-border-color: get($colors, "stone-clear") !default;

/* typography */
$h1-color: get($colors, "main") !default;
$h2-color: get($colors, "main") !default;
$h1-line-height: 1.08em !default;
$h1--small-line-height: 1.278em !default;

$iu-color-anchor: get($colors, "sky-base") !default;

$preamble-font-weight: get($fontWeights, "light") !default;
$preamble-margin-bottom: rem-calc(30) !default;
$preamble-margin-top: rem-calc(30) !default;

$link-list-headline-use-divider: true !default;

$table-footer-color: get($colors, "muted") !default;

%user-icon {
  @extend .iu-svg-icon-bg;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40'%3E%3Cg fill='none'%3E%3Cpath fill='%23A00B36' d='M28.25 12c0-4.028-3.549-7.25-8.25-7.25-3.845 0-7.25 3.354-7.25 7.25 0 4.424 3.693 9.25 7.25 9.25 4.397 0 8.25-4.642 8.25-9.25zm1.5 0c0 5.381-4.457 10.75-9.75 10.75-4.486 0-8.75-5.572-8.75-10.75 0-4.73 4.082-8.75 8.75-8.75 5.499 0 9.75 3.86 9.75 8.75z'/%3E%3Cg fill='%23A00B36'%3E%3Cpath d='M32.965 36.25a52.353 52.353 0 01-.213-.707l-.291-1.006c-.973-3.379-1.59-4.818-2.896-6.151-1.698-1.734-4.366-2.636-8.565-2.636-4.658 0-7.609.933-9.457 2.718-1.409 1.36-2.05 2.81-3.055 6.258l-.24.818a56.56 56.56 0 01-.213.706h24.93zm-26.673.504c.166-.48.325-.984.518-1.636l.238-.812c1.076-3.693 1.794-5.315 3.453-6.917 2.163-2.09 5.484-3.139 10.499-3.139 4.571 0 7.625 1.033 9.636 3.086 1.54 1.57 2.226 3.171 3.266 6.786.197.684.211.732.289.997.188.64.35 1.15.517 1.635a.75.75 0 01-.708.996H7a.75.75 0 01-.708-.996z'/%3E%3Cpath d='M28.991 36.52a.75.75 0 11-1.471.292l-.761-3.833a.75.75 0 011.471-.292l.761 3.833zm-16.689-3.833a.75.75 0 011.472.292l-.761 3.833a.75.75 0 11-1.472-.292l.761-3.833z'/%3E%3C/g%3E%3Cpath fill='%23C12143' d='M19.25 11.75H16a.75.75 0 110-1.5h4a.75.75 0 01.75.75v4.25H22a.75.75 0 110 1.5h-2a.75.75 0 01-.75-.75v-4.25z'/%3E%3C/g%3E%3C/svg%3E");
}

%link-chevron {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7' height='11' viewBox='0 0 7 11'%3E%3Cpath fill='%23C12143' d='M4.163 5.577l-3.87-3.87c-.39-.39-.39-1.024 0-1.414.39-.39 1.024-.39 1.414 0L6.284 4.87c.39.39.39 1.024 0 1.414l-4.577 4.577c-.39.39-1.024.39-1.414 0-.39-.39-.39-1.024 0-1.414l3.87-3.87z' transform='translate(-730 -3076) translate(0 2872) translate(730 119) translate(0 85)'/%3E%3C/svg%3E%0A");
}

/* navlist colors */

%ic-nav-list__expand {
  color: inherit;
}

.ic-nav-list__list .ic-nav-list__list {
  background-color: #fff;
}

/* focus */

.ic-page-header__logo-link:focus,
.ic-page-header__logo-link:hover {
  outline: 2px solid #fff;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > div > a:focus,
.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > div > button:focus {
  outline: 2px solid #fff;
}

/* hover */
/*.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a:hover {
  box-shadow: inset 10px 0 0 0 #fff;
}*/

/*[dir="rtl"] .ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a:hover {
  box-shadow: inset -10px 0 0 0 #fff;
}*/

/* tabs */

%ic-tabbed__tab {
  border-radius: rem-calc(10) rem-calc(10) 0 0;
}

%ic-tabbed__tab_color {
  background-color: get($colors, "sky-base");
}

/* forms */

%dropdown-icon-color {
  color: get($colors, "sky-base");
}

%border-radius {
  border-radius: 10px;
}

/* custom styles */

/* navlist colors */

.ic-nav-list__expand {
  color: inherit;
}

.ic-nav-list__list .ic-nav-list__list {
  background-color: #fff;
}


.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a:focus {
  outline: 2px solid #fff;
  //box-shadow: inset 10px 0 0 0 #fff;
}

[dir="rtl"] .ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a:focus {
  outline: 2px solid #fff;
  //box-shadow: inset -10px 0 0 0 #fff;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > div > a:focus,
.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > div > button:focus {
  outline: 2px solid #fff;
}

/* hover */
/*.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a:hover {
  box-shadow: inset 10px 0 0 0 #fff;
}

/*[dir="rtl"] .ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a:hover {
  box-shadow: inset -10px 0 0 0 #fff;
}*/

/* forms */

%dropdown-icon-color {
  color: get($colors, "sky-base");
}

%border-radius {
  border-radius: 10px;
}

%ic-page-header__logo-container {
  /* add the curved edge to the logo */
  position: relative;
  margin-right: rem-calc(9);
  padding-right: get($spacing, "gutter");

  @include im-basic-breakpoint("lg") {
    padding-right: rem-calc(56);
  }

  &:after {
    content: "";
    background-color: c("main");
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    top: 0;
    margin-top: rem-calc(-125);
    clip: rect(rem-calc(125), rem-calc(300), rem-calc(175), rem-calc(290));
    height: rem-calc(300);
    width: rem-calc(300);
    right: rem-calc(-9);

    @include im-basic-breakpoint("lg") {
      top: 50%;
      margin-top: rem-calc(-200);
      clip: rect(rem-calc(140), rem-calc(400), rem-calc(260), rem-calc(390));
      height: rem-calc(400);
      width: rem-calc(400);
      left: auto;
    }
  }
}

%ic-page-footer {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgaGVpZ2h0PSIzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwYzI1MS4zODcgNy40MDggNDk1LjE4NiAxMS4xMTIgNzMxLjM5NSAxMS4xMTJDOTY3LjYwNSAxMS4xMTIgMTIwMy44MDYgNy40MDggMTQ0MCAwdjMwSDBWMHoiIGZpbGw9IiNGQUVFRjAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
  background-size: 100% rem-calc(30);
  background-repeat: no-repeat;
  background-color: c("background");
  padding-top: rem-calc(30);
}

%ic-page-footer__inner {
  @include im-basic-breakpoint(lg) {
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgaGVpZ2h0PSIzMCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMCAwYzI1MS4zODcgNy40MDggNDk1LjE4NiAxMS4xMTIgNzMxLjM5NSAxMS4xMTJDOTY3LjYwNSAxMS4xMTIgMTIwMy44MDYgNy40MDggMTQ0MCAwdjMwSDBWMHoiIGZpbGw9IiNDMTIxNDMiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100% rem-calc(30);
  }
}

/* Styling för böjd kant effekt*/

.ic-page-footer_ramp {
  width: 100%;
  height: 5px;
  background-color: white;
  position: relative;
}

.ic-page-footer_ramp::before {
  content: "";
  position: absolute;
  bottom: -20px;
  left: -50%;
  width: 200%;
  height: 100px;
  background-color: white;
  border-radius: 0 0 50% 50%;
}

.ic-page-footer__about {
  color: get($colors, "white");
  background-color: get($colors, "main");

  .ic-page-footer__about__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 20px;

    min-height: rem-calc(35);
    font-size: rem-calc(14);
    line-height: rem-calc(20);

    .ic-page-footer__about__content__information {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    .ic-page-footer__about__content__information__link {
      color: get($colors, "white");
      line-height: rem-calc(19);

      &:focus {
        outline: 2px solid get($colors, "white");
      }
    }
  }
}

.ic-page-footer__about__mobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: get($colors, "white");
  background-color: get($colors, "main");

  .ic-page-footer__about__content__mobile {
    display: flex;
    min-height: rem-calc(150);
    margin-top: rem-calc(10);
    margin-bottom: rem-calc(10);

    .ic-page-footer__about__content__mobile__information {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }

    .ic-page-footer__about__content__mobile__information__link {
      color: get($colors, "white");
      font-size: rem-calc(14);
      line-height: rem-calc(19);
      line-height: rem-calc(19);
      margin-left: auto;
      margin-right: auto;

      &:focus {
        outline: 2px solid get($colors, "white");
      }
    }
  }

  .iu-svg-icon {
    .ic-page-footer__logo {
      height: rem-calc(24);
    }
  }

  .ic-page-footer__about__mobile__owner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: rem-calc(14);
    padding-top: rem-calc(15);
    padding-bottom: rem-calc(40);

    p {
      text-align: center;
      line-height: rem-calc(20);
      margin-top: 0;
    }
  }
}

%ic-topnav__link {
  &:after {
    background: #c12143;
    bottom: 0;
    content: "";
    display: block;
    height: 5px;
    left: 10px;
    right: 100%;
    position: absolute;
    transition: all 0.3s ease;
    width: 0;
  }
  &.selected:after,
  &:hover:after {
    width: auto;
    right: 10px;
  }
  &:hover {
    text-decoration: none;
  }
}

%ic-text-ul {
  padding-left: 0.6rem;
  @include im-basic-breakpoint(lg) {
    padding-left: 2rem;
  }
  li {
    position: relative;
    &:before {
      background: get($colors, "main");
      position: relative;
      border-radius: 50%;
      content: "";
      display: inline-block;
      left: 0;
      margin-left: rem-calc(-25);
      margin-right: rem-calc(15);
      bottom: rem-calc(2);
      height: rem-calc(8);
      width: rem-calc(8);
    }
  }
}

%ic-text-ol {
  padding-left: 0.6rem;
  @include im-basic-breakpoint(lg) {
    padding-left: 2rem;
  }
  li:before {
    display: inline-block;
    font-weight: 700;
    margin-left: rem-calc(-25);
    margin-right: rem-calc(15);
    position: relative;
    content: counter(item) ".";
  }
}

%article-list-item {
  border-radius: 0;
  border: none;
  &:hover {
    box-shadow: 0 4px 0 0 rgba(get($colors, "cta"), 0.5);
  }
}

%info-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 29.415C22.4558 29.415 28.5 23.3709 28.5 15.915C28.5 8.45919 22.4558 2.41504 15 2.41504C7.54416 2.41504 1.5 8.45919 1.5 15.915C1.5 23.3709 7.54416 29.415 15 29.415ZM15 30.915C23.2843 30.915 30 24.1993 30 15.915C30 7.63077 23.2843 0.915039 15 0.915039C6.71573 0.915039 0 7.63077 0 15.915C0 24.1993 6.71573 30.915 15 30.915Z" fill="%23353535"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.2859 18.6655C15.2666 18.8084 15.1446 18.915 15.0004 18.915C14.8558 18.915 14.7337 18.8079 14.7148 18.6646L13.5796 10.0507C13.5265 9.66407 13.5 9.37589 13.5 9.1862C13.5 8.72657 13.6482 8.35813 13.9447 8.0809C14.2412 7.80366 14.5973 7.66504 15.0133 7.66504C15.4292 7.66504 15.781 7.80366 16.0686 8.0809C16.3562 8.35813 16.5 8.77034 16.5 9.31752C16.5 9.49262 16.4823 9.73702 16.4469 10.0507L15.2859 18.6655ZM16.0608 23.7239C15.768 24.018 15.4144 24.165 15 24.165C14.5856 24.165 14.232 24.018 13.9392 23.7239C13.6464 23.4297 13.5 23.0745 13.5 22.6583C13.5 22.251 13.6464 21.9003 13.9392 21.6062C14.232 21.3121 14.5856 21.165 15 21.165C15.4144 21.165 15.768 21.3121 16.0608 21.6062C16.3536 21.9003 16.5 22.251 16.5 22.6583C16.5 23.0745 16.3536 23.4297 16.0608 23.7239Z" fill="%23636466"/></svg>');
}

%observe-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 29.415C22.4558 29.415 28.5 23.3709 28.5 15.915C28.5 8.45919 22.4558 2.41504 15 2.41504C7.54416 2.41504 1.5 8.45919 1.5 15.915C1.5 23.3709 7.54416 29.415 15 29.415ZM15 30.915C23.2843 30.915 30 24.1993 30 15.915C30 7.63077 23.2843 0.915039 15 0.915039C6.71573 0.915039 0 7.63077 0 15.915C0 24.1993 6.71573 30.915 15 30.915Z" fill="%23353535"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.2859 18.6655C15.2666 18.8084 15.1446 18.915 15.0004 18.915C14.8558 18.915 14.7337 18.8079 14.7148 18.6646L13.5796 10.0507C13.5265 9.66407 13.5 9.37589 13.5 9.1862C13.5 8.72657 13.6482 8.35813 13.9447 8.0809C14.2412 7.80366 14.5973 7.66504 15.0133 7.66504C15.4292 7.66504 15.781 7.80366 16.0686 8.0809C16.3562 8.35813 16.5 8.77034 16.5 9.31752C16.5 9.49262 16.4823 9.73702 16.4469 10.0507L15.2859 18.6655ZM16.0608 23.7239C15.768 24.018 15.4144 24.165 15 24.165C14.5856 24.165 14.232 24.018 13.9392 23.7239C13.6464 23.4297 13.5 23.0745 13.5 22.6583C13.5 22.251 13.6464 21.9003 13.9392 21.6062C14.232 21.3121 14.5856 21.165 15 21.165C15.4144 21.165 15.768 21.3121 16.0608 21.6062C16.3536 21.9003 16.5 22.251 16.5 22.6583C16.5 23.0745 16.3536 23.4297 16.0608 23.7239Z" fill="%23636466"/></svg>');
}

%error-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 30" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M14.9999 3.23549L28.4891 26.876C28.4919 26.8809 28.4961 26.8905 28.4984 26.9055C28.4989 26.9088 28.4993 26.9121 28.4995 26.9155H1.50054C1.50123 26.9074 1.50255 26.8999 1.50424 26.8934C1.5068 26.8835 1.50967 26.8777 1.51069 26.876L14.9999 3.23549ZM13.8664 2.19529C14.1979 1.61439 14.9108 1.29714 15.5767 1.64807L15.6003 1.66051L15.7111 1.72938L15.7321 1.74454C15.8997 1.86552 16.0344 2.02177 16.1334 2.19529L29.792 26.1326C30.1648 26.7861 30.0359 27.709 29.3907 28.1747C29.1816 28.3256 28.9288 28.4155 28.6585 28.4155H1.34133C0.490526 28.4155 0 27.6253 0 26.9282C0 26.6522 0.0693267 26.3753 0.20786 26.1326L13.8664 2.19529Z" fill="%236A0032"/><path fill-rule="evenodd" clip-rule="evenodd" d="M15.2859 19.6127C15.2666 19.7556 15.1446 19.8623 15.0004 19.8623C14.8558 19.8623 14.7337 19.7552 14.7148 19.6119L13.5796 10.998C13.5265 10.6113 13.5 10.3231 13.5 10.1335C13.5 9.67382 13.6482 9.30539 13.9447 9.02815C14.2412 8.75092 14.5973 8.6123 15.0133 8.6123C15.4292 8.6123 15.781 8.75092 16.0686 9.02815C16.3562 9.30539 16.5 9.7176 16.5 10.2648C16.5 10.4399 16.4823 10.6843 16.4469 10.998L15.2859 19.6127ZM16.0608 24.6711C15.768 24.9652 15.4144 25.1123 15 25.1123C14.5856 25.1123 14.232 24.9652 13.9392 24.6711C13.6464 24.377 13.5 24.0218 13.5 23.6055C13.5 23.1983 13.6464 22.8476 13.9392 22.5535C14.232 22.2594 14.5856 22.1123 15 22.1123C15.4144 22.1123 15.768 22.2594 16.0608 22.5535C16.3536 22.8476 16.5 23.1983 16.5 23.6055C16.5 24.0218 16.3536 24.377 16.0608 24.6711Z" fill="%23C12143"/></svg>');
}

%success-icon {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="30" height="31" viewBox="0 0 30 31" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M15 2.41504C7.54416 2.41504 1.5 8.45919 1.5 15.915C1.5 23.3709 7.54416 29.415 15 29.415C22.4558 29.415 28.5 23.3709 28.5 15.915C28.5 8.45919 22.4558 2.41504 15 2.41504ZM0 15.915C0 7.63077 6.71573 0.915039 15 0.915039C23.2843 0.915039 30 7.63077 30 15.915C30 24.1993 23.2843 30.915 15 30.915C6.71573 30.915 0 24.1993 0 15.915Z" fill="%23395428"/><path fill-rule="evenodd" clip-rule="evenodd" d="M22.9711 10.216C23.343 10.6172 23.343 11.2678 22.9711 11.6691C22.9711 11.6691 13.8148 21.5854 13.7545 21.65C13.3813 22.0498 12.7259 21.9906 12.2906 21.5178L8.6125 17.5232C8.1772 17.0504 8.12683 16.3432 8.49998 15.9434C8.87315 15.5437 9.52853 15.6029 9.96383 16.0756L13.0691 19.449L21.6247 10.216C21.9965 9.81472 22.5993 9.81472 22.9711 10.216Z" fill="%23419002"/></svg>');
}

/* notification */
%notification-text {
  color: get($colors, "white");
}

%notification-text-outline {
  color: get($colors, "notification");
}

/* TODO: Fix the arrow icon */
.icon-arrow.icon-arrow:before {
  font-size: rem-calc(10);
  width: 1.6em;
  height: 1.6em;
}
