@use "sass:math";

$theme-color-interval: 0 !default;

// Return opaque color
// opaque(#fff, rgba(0, 0, 0, .5)) => #808080
@function opaque($background, $foreground) {
  @return mix(rgba($foreground, 1), $background, opacity($foreground) * 100);
}

// Make color lighter
@function tint-color($color, $level) {
  @return mix(white, $color, $level * $theme-color-interval);
}

// Make color darker
@function shade-color($color, $level) {
  @return mix(black, $color, $level * $theme-color-interval);
}

@function get($map, $value) {
  $r: map-get($map, $value);

  @if $r != null {
    @return $r;
  }

  @debug "Error when using inera-core-css function get()";
  @debug "Could not find value in map.";
  @debug "$VALUE:" + $value;
  @debug "----";
  @debug "$MAP";
  @debug "----";
  @debug $map;
  @debug "----";
  @debug "----";
  @debug "----";

  @error $value + " is not available in $map.";
}

@function c($name) {
  @return get($colors, $name);
}

@function rem-calc($size, $base: 16) {
  $remSize: math.div($size, $base);
  @return $remSize * 1rem;
}

@function em-calc($size, $base: 16) {
  $emSize: math.div($size, $base);
  @return $emSize * 1em;
}

@mixin im-basic-breakpoint($value) {
  $str: "min-width: " + get($core-breakpoints, $value);
  @media only screen and (#{$str}) {
    @content;
  }
}
