/******************************************************************************
*
* A link element
*
* <a href="http://www.example.com" class="c-link">Click on me!</a>
*
*/

.ic-link {
  @extend %link;
}

.ic-link-chev {
  text-decoration: none;
  color: get($colors, "cta");
  position: relative;
  text-decoration: none;
  margin: 0 rem-calc(6);
  &:focus {
    outline: 2px solid get($colors, "white");
  }
  &:hover {
    color: get($colors, "cta-dark");
  }
  &::after {
    content: "";
    display: inline;
    position: absolute;
    bottom: 2px;
    left: 0;
    width: calc(
      100% - 18px
    );
    border-bottom: 0.5px solid $link-color;
}
}

.ic-link-footer {
  color: white;
  position: relative;
  text-decoration: none;
  margin: 0 rem-calc(6);
  svg {
    margin-left: 4px;
  }
  &:focus {
    outline: 2px solid get($colors, "white");
  }
  &::after {
    content: "";
    display: inline;
    position: absolute;
    bottom: 3px;
    left: 0;
    width: calc(
      100% - 24px
    );
    border-bottom: 0.5px solid #fff;
  }
}
@media screen and (max-width: 1023px) {
.ic-link-footer::after { 
    width: calc(
      100% - 21px
    );
  }
}

.ic-nav-link {
  @extend %link;
  color: $nav-link-color;
  &:active,
  &:visited {
    color: $nav-link-color;
  }
  &:hover {
    color: $nav-link-hover-color;
  }
}

.ic-chevron-link {
  text-decoration: none;
  color: get($colors, "cta");
  &:active,
  &:hover {
    color: get($colors, "cta-dark");
    text-decoration: underline;
  }
}

.ic-chevron-link,
.ic-link-chevron {
  &:before {
    content: "";
    text-decoration: none;
    @include chevron($color: currentColor, $dir: "right", $width: rem-calc(1));
    margin-right: 1em;
    margin-left: 1px; /* The left focus outline was not straight */
  }
}

.ic-link--white {
  color: white;
}

.ic-link--external [class*="icon-"],
.ic-link--external > svg {
  margin-left: em-calc(5);
}
