$badge-font-weight: 600 !default;
// $badge-font-size: list("sm", "md", "lg") (breakpoints).
$badge-font-size: (
  get($fontSizes, "xs"),
  get($fontSizes, "sm"),
  get($fontSizes, "sm")
) !default;

$badge-color-main: get($colors, "error");
$badge-color-neutral: get($colors, "neutral99");
$badge-color-info: get($colors, "neutral99");
$badge-color-attention: get($colors, "attention");
$badge-color-success: get($colors, "success99");
$badge-color-error: get($colors, "error-light");
$badge-color-secondary: get($colors, "white");

.ic-badge-status,
.ic-badge {
  border-radius: rem-calc(5);
  min-height: rem-calc(30);
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
}

.ic-badge {
  background-color: get($colors, "sky-background");
  color: get($colors, "text");

  padding: rem-calc(2) rem-calc(8);
  font-size: nth($badge-font-size, 1);

  @include im-breakpoint("md") {
    font-size: nth($badge-font-size, 2);
    padding: rem-calc(8) rem-calc(12);
    min-height: rem-calc(40);
  }
  @include im-breakpoint("lg") {
    font-size: nth($badge-font-size, 3);
  }
}

// Container
.ic-badge-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 1rem;
  gap: rem-calc(10);
}

// Colors
.ic-badge-color-main {
  background-color: $badge-color-main;
  color: get($colors, "white");
}

.ic-badge-color-neutral {
  background-color: $badge-color-neutral;
  color: get($colors, "black");
}

.ic-badge-color-info {
  background-color: $badge-color-info;
  color: get($colors, "black");
  border: 1px solid get($colors, "black");
}

.ic-badge-color-attention {
  background-color: $badge-color-attention;
  color: get($colors, "black");
  border: 1px solid get($colors, "black");
}

.ic-badge-color-success {
  background-color: $badge-color-success;
  color: get($colors, "black");
  border: 1px solid get($colors, "success40");
}

.ic-badge-color-error {
  background-color: $badge-color-error;
  color: get($colors, "black");
  border: 1px solid get($colors, "error");
}

.ic-badge-color-secondary {
  background-color: $badge-color-secondary;
  color: get($colors, "black");
  border: 1px solid get($colors, "neutral40");
}

.ic-badge-status {
  text-transform: uppercase;
  min-height: rem-calc(24);
  font-size: nth($badge-font-size, 1);
  padding: 0 rem-calc(8);
  gap: rem-calc(8);

  @include im-breakpoint("md") {
    min-height: rem-calc(30);
    font-size: nth($badge-font-size, 2);
    padding: rem-calc(5) rem-calc(10);
    gap: rem-calc(10);
  }
  @include im-breakpoint("lg") {
    font-size: nth($badge-font-size, 3);
  }
}

.ic-badge-status--alt {
  @extend .ic-badge-status;
  border: 1px solid $badge-color-main;
  background: white;
  color: $badge-color-main;
}

/* use the same style as for mobile */
.ic-badge--small {
  font-size: nth($badge-font-size, 1);
  min-height: rem-calc(30);
}

.ic-badge-status.ic-badge--small {
  min-height: rem-calc(24);
  padding-top: 0;
  padding-bottom: 0;
}
