$section-divider-color: get($colors, "muted") !default;
$section-header-border-color: $section-divider-color !default;
$section-header-has-border: true !default;
// TODO: section spacing for mobile and desktop
$section-spacing: get($spacing, 700) !default;
$header-font: get($fonts, "heading") !default;
$avatar-icon-size: 20 !default;
$avatar-icon-size-lg: 50 !default;

/** Avatar box */

.ic-avatar-box {
  @extend .iu-flex-start;
  @extend .iu-flex-start;
  @include background("background");
  @include radius("xl");
  // pad is controlled by $spacing
  @include pad(nav-padding, 300, nav-padding, 1rem);
  @include font("body");

  max-width: rem-calc(250);
  min-width: 80px;
  overflow: hidden;

  @include im-breakpoint(lg) {
    @include pad(400, 900, 400, 700);
    max-width: none;
  }

  .iu-lh-narrow {
    width: 100%;
    min-width: 40px;
    overflow: hidden;
    padding-left: rem-calc(20);

    ul {
      padding-bottom: rem-calc(4);
    }

    p {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}

// .iu-lh-narrow {
//   width: 100%;
//   overflow: hidden;
// }

// .iu-lh-narrow p {
//   overflow: hidden;
//   text-overflow: ellipsis;
//   white-space: nowrap;
// }

.ic-avatar-box .iu-link-divider-right:after {
  border-right-color: get($colors, "stone-line");
}

.ic-avatar-box__icon {
  width: auto;
  height: rem-calc($avatar-icon-size);
  min-width: rem-calc(20);
  @include im-breakpoint(lg) {
    width: auto;
    height: rem-calc($avatar-icon-size-lg);
  }
}

.ic-avatar-box__name {
  @extend .iu-truncate-gradient;

  font-size: get($fontSizes, 100);

  @include im-breakpoint(sm) {
    max-width: rem-calc(600);
    &:after {
      display: none;
    }
  }
  @include im-breakpoint(md) {
    font-size: get($fontSizes, 100);
    max-width: rem-calc(600);
    &:after {
      display: none;
    }
  }
  @include im-breakpoint(lg) {
    font-size: inherit;
    max-width: rem-calc(800);
    &:after {
      display: none;
    }
  }
}

@media screen and (max-width: 1023px) {
  .ic-avatar-box__name {
    margin-left: -12px;
    margin-top: 5px; 
    margin-right: 5px;
}
}

/** Sections */

.ic-section-header {
  padding-bottom: $section-spacing;
  display: grid;
  align-items: center;
  justify-content: center;
}

.ic-section-headline {
  @extend .ic-subtitle;
  @extend .ic-subtitle--light;
  @if $section-header-has-border == true {
    border-bottom: 1px solid $section-header-border-color;
    padding-bottom: rem-calc(10);
  }
}

.ic-section-headline--border {
  border-bottom: 1px solid $section-header-border-color;
  padding-bottom: rem-calc(10);
}

.ic-section-headline--noborder {
  border-bottom: none;
  padding-bottom: unset;
}

.ic-section + .ic-section {
  padding-top: $section-spacing;
  margin-top: $section-spacing;
}

.ic-section + .ic-section--no-padding {
  padding-top: 0;
}

.ic-section + .ic-section--no-margin {
  margin-top: 0;
}

.ic-section--divider {
  padding-top: $section-spacing;
  border-top: 1px solid $section-divider-color;
}

.ic-section.ic-section--extra-padding {
  padding-top: $section-spacing * 2;
}

.ic-section.ic-section--extra-margin {
  margin-top: $section-spacing * 2;
}

/* Intro section */

.ic-section-intro {
  margin-top: get($spacing, "xl");

  * + * {
    margin-top: rem-calc(10);
  }

  @include im-breakpoint("md") {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 3fr 2fr;
    align-items: flex-start;
    column-gap: rem-calc(40);
    row-gap: 0;
  }
}

.ic-section-intro figure {
  margin-top: rem-calc(30);

  @include im-breakpoint("md") {
    float: right;
    margin: 0;
    justify-self: flex-end;
  }
}
