$breadcrumb-divider: "/" !default;
$breadcrumb-divider-space: 0.3em !default;
$breadcrumb-divider-color: inherit !default;
$breadcrumb-label-transform: none !default;
$breadcrumb-label-letter-spacing: inherit !default;

.ic-breadcrumb {
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  list-style: none;
  color: $breadcrumb-divider-color;
}

.ic-breadcrumb a[aria-current] {
  color: get($colors, "text");
}

.ic-breadcrumb > ol,
.ic-breadcrumb > ul {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}

.ic-breadcrumb__label {
  margin-right: $breadcrumb-divider-space;
  text-transform: $breadcrumb-label-transform;
  letter-spacing: $breadcrumb-label-letter-spacing;
  white-space: nowrap;

  [dir="rtl"] & {
    margin-left: $breadcrumb-divider-space;
    margin-right: 0;
  }
}

.ic-breadcrumb__item {
  display: flex;
  font-size: inherit;
  margin: 0;

  list-style: none;
}

.ic-breadcrumb__item:after {
  display: inline-block;
  margin-left: $breadcrumb-divider-space;
  margin-right: $breadcrumb-divider-space;
  content: $breadcrumb-divider;
  color: get($colors, "black");
}

.ic-breadcrumb__item:last-child:after {
  content: "";
}

.ic-breadcrumb__link[aria-current] {
  color: inherit;
  text-decoration: inherit;
}
