$button-font-weight: get($fontWeights, "bold") !default;
$button-font-size: get($fontSizes, "md") !default;
$button-font-family: inherit !default;
$button-border: none !default;
$button-border-radius: 0 !default;
$button-padding: get($spacing, "md") get($spacing, "lg") !default;
$button-min-height: 0 !default;
$button-box-shadow: none !default;
$button-box-shadow-hover: none !default;

$secondary-button-border: 1px solid get($colors, "cta") !default;
$secondary-button-border-hover: 1px solid get($colors, "cta") !default;
$secondary-button-color: get($colors, "cta") !default;
$secondary-button-color-hover: get($colors, "cta") !default;
$secondary-button-background: get($colors, "background") !default;
$secondary-button-background-hover: get($colors, "background") !default;

/******************************************************************************
*
* A form <button> element
*
* <button class="ic-button">Click on me</button>
*
*/

.ic-button {
  @include textTransform("button");
  @include border("transparent");
  @extend %ic-button--large;
  border-radius: $button-border-radius;
  border: none;
  box-sizing: border-box;
  color: inherit;
  cursor: pointer;
  font-family: $button-font-family;
  // font-size: $button-font-size;
  @include fontWeight("regular");
  // min-height: $button-min-height;
  min-width: rem-calc(70);
  padding: $button-padding;
  position: relative;
  text-align: center;
  text-decoration: none;
  // fallback for when flex is not supported
  display: inline-block;
  line-height: $button-min-height;

  @supports (display: inline-flex) {
    display: inline-flex;
    align-items: center;
    line-height: 1;
    justify-content: center;
  }
}

.ic-button,
.ic-button--primary {
  @include color("cta-text");
  @include background("cta");
}

.ic-button:hover,
.ic-button--hover,
.ic-button--primary:hover {
  @include color("cta-text");
  @include background("cta-dark");
  box-shadow: $button-box-shadow-hover;
}

.ic-button--primary-ghost {
  @include color("cta-light");
  @include background("cta-text");
  @include border("cta-light");
}

.ic-button--primary-ghost:hover {
  @include color("cta-text");
  @include background("cta-light");
}

/** Secondary */

.ic-button--secondary {
  border: $secondary-button-border;
  background-color: $secondary-button-background;
  color: $secondary-button-color;
}

.ic-button--secondary:hover {
  background-color: $secondary-button-background-hover;
  border: $secondary-button-border-hover;
  color: $secondary-button-color-hover;
}

/* Rounded */

.ic-button--rounded {
  @include radius("xl");
}

/* Disabled */
.ic-button--disabled:focus,
.ic-button--disabled:hover,
.ic-button:disabled:hover,
.ic-button:disabled,
.ic-button--disabled {
  cursor: default;
  color: get($colors, "muted");
  border-style: solid;
  border-width: rem-calc(1);
  border-color: getRgba("grey-400", 0.8);
  background-color: get($colors, "white");
  box-shadow: none;
}

/** Icon inside button */

.ic-button .iu-svg-icon {
  width: 40px;
  height: 40px;
}

/* Button with loading spinner */

.ic-button--loading {
  position: relative;
}

.ic-button--success .ic-button-success-hide,
.ic-button--loading .ic-button-loading-hide,
.ic-button .ic-button-success-show,
.ic-button .ic-button-loading-show {
  opacity: 0;
}

.ic-button .ic-button-success-show,
.ic-button .ic-button-loading-show {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ic-button--loading .ic-button-loading-show {
  opacity: 1;
}

.ic-button--success .ic-button-success-show {
  opacity: 1;
}

/* circle button */

.ic-button--circle {
  @extend .ic-button;
  min-width: unset;
  min-height: unset;
  width: 3em;
  height: 3em;
  font-size: 1em;
  padding: 0;
  line-height: 1;
  box-sizing: border-box;
  border-radius: 50%;
}

@include Burger();

/* small device full with */

.ic-button--sm-full {
  @include im-breakpoint(sm md) {
    width: 100%;
  }
}

/* ghost */

.ic-button--ghost:hover,
.ic-button--ghost {
  @include border("white");
  background-color: transparent;
  color: white;
}

.ic-button--ghost:focus {
  outline: 2px solid white;
}

/* sizes */

.ic-button--large {
  @extend %ic-button--large;
  padding: 0 rem-calc(30);
}

.ic-button--medium {
  @extend %ic-button--medium;
  padding: 0 rem-calc(30);
}

.ic-button--small {
  @extend %ic-button--small;
  padding: 0 rem-calc(30);
}

/* button group */
.ic-button--group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: rem-calc(20);
}
