@mixin chevron(
  $color: currentColor,
  $width: rem-calc(3),
  $size: rem-calc(3),
  $dir: "down",
  $borderRadius: 0
) {
  border-style: solid;
  border-color: $color;
  border-width: 0 $width $width 0;
  display: inline-block;
  border-radius: $borderRadius;
  padding: 0.24rem;

  @if $dir == "down" {
    transform: rotate(45deg);
  }
  @if $dir == "left" {
    transform: rotate(135deg);
  }
  @if $dir == "up" {
    transform: rotate(-135deg);
  }
  @if $dir == "right" {
    transform: rotate(-45deg);
  }
}
