/******************************************************************************
*
* A date label element
*
* https://inera.atlassian.net/wiki/spaces/USI/pages/212641743/Datummark+r+grafiskt+datum
*
*/
.ic-date-label.ic-date-label--small,
.ic-date-label {
  padding: 0.7em 0.525em 0.9em;
}

.ic-date-label__day,
.ic-date-label--small .ic-date-label__day {
  line-height: normal;
  font-weight: bold;
  min-width: 1.5em;
  text-align: center;
  font-size: 2.5em;
  line-height: 1.2em;
  letter-spacing: -1.25px;
}

.ic-date-label__month,
.ic-date-label--small .ic-date-label__month {
  text-transform: uppercase;
  line-height: 1;
  color: map-get($colors, "muted");
  font-size: 1.5em;
}

.ic-date-label__year,
.ic-date-label--small .ic-date-label__year {
  font-size: 1.2em;
}

.ic-date-label {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  align-self: flex-start;
  justify-content: center;
  box-shadow: 0 rem-calc(2) rem-calc(6) 0 rgba(0, 0, 0, 0.3);
  @include background("white");
  @include radius("md");
  @include font("secondary");
  // Make it easy to calculate "em" sizes.
  font-size: 10px;

  @include im-breakpoint("md") {
    padding: 0.8em 1.3em;
  }
}

.ic-date-label__day {
  @include im-breakpoint("md") {
    font-size: 3.5em;
    letter-spacing: -1.75px;
    line-height: 1.15em;
  }
}

.ic-date-label__year {
  @include im-breakpoint("md") {
    font-size: 1.6em;
  }
}

.ic-date-label__month {
  @include im-breakpoint("md") {
    font-size: 2em;
  }
}
