$page-footer-height: rem-calc(120) !default;
$page-footer-background: c("background") !default;
$page-footer-padding-top: get($spacing, "xl") !default;
$page-footer-padding-bottom: get($spacing, "xl") !default;
$page-footer-heading-fontsize: get($fontSizes, "h2") !default;
$page-footer-heading-fontweight: get($fontWeights, "heading") !default;
$page-footer-logo-scale: 0.75 !default;

.ic-page-footer {
  background-color: $page-footer-background;
  @extend %ic-page-footer !optional;
}

.ic-page-footer__inner {
  @extend %ic-page-footer__inner !optional;
  background-color: $page-footer-background;
  padding-top: $page-footer-padding-top;
  padding-bottom: $page-footer-padding-bottom;
}

.ic-page-footer__heading {
  font-size: $page-footer-heading-fontsize;
  font-weight: $page-footer-heading-fontweight;
}

.ic-page-footer__logo {
  background-image: $logo-image;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 1rem auto;
  display: block;
  width: $logo-image-width-lg;
  height: $logo-image-height-lg;
  // transform: scale($page-footer-logo-scale);
}

.ic-link-list {
  columns: 3;
  white-space: nowrap;

  & li {
    margin-left: 1.5vw;
  }
}

.ic-page-footer__inner .iu-pl-xl {
  padding-left: 1rem !important;
}
