$radio-button-border-color: get($colors, "cta") !default;
$radio-button-inner-circle-color: get($colors, "cta") !default;
$radio-button-background: $input-background !default;
$radio-button-border-width: $input-border-width !default;
$radio-button-disabled-border-color: get($colors, "muted") !default;
$radio-button-use-focus-handler: true !default;
$radio-button-size: 1.25em !default;

%radio-label {
  content: "";
  flex: 0 0 auto;
  background: $radio-button-background;
  box-sizing: border-box;
  border-radius: 100%;
  border: $radio-button-border-width solid $radio-button-border-color;
  display: inline-block;
  width: $radio-button-size;
  height: $radio-button-size;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-right: 0.625em;
  /*
  @supports (margin-inline-end: 0) {
    margin-right: 0;
    margin-inline-end: 0.625em;
  }*/
}

%radio-label-checked {
  background-color: $radio-button-inner-circle-color;
  box-shadow: inset 0 0 0 3px $radio-button-background;
}

%radio-label-focus {
  @if $radio-button-use-focus-handler == true {
    @extend %focus;
  } @else {
    outline: none;
  }
}

%radio-label-disabled {
  box-shadow: inset 0 0 0 3px $radio-button-background;
  border-color: $radio-button-disabled-border-color;
  background: lighten($radio-button-disabled-border-color, 15%);
  cursor: default;
}

.ic-forms__radio {
  position: absolute;
  opacity: 0;

  + label {
    display: flex;
    align-items: center;

    &:before {
      @extend %radio-label;
      margin-top: 3px;
    }
  }
  &:checked {
    + label {
      &:before {
        @extend %radio-label-checked;
      }
    }
  }
  &:focus {
    + label {
      &:before {
        @extend %radio-label-focus;
      }
    }
  }
  &:disabled {
    + label {
      &:before {
        @extend %radio-label-disabled;
      }
    }
  }
  + label {
    &:empty {
      &:before {
        margin-right: 0;
      }
    }
  }
}

.ic-radio-group-horizontal {
  @extend .ic-group-horizontal;

  .ic-forms__radio + label {
    display: inline-flex;
    align-items: flex-start;
  }
}

.ic-radio-group-vertical {
  @extend .ic-group-vertical;
}
