$checkbox-inner-circle-color: get($colors, "cta") !default;
$checkbox-background: $input-background !default;
$checkbox-border-width: $input-border-width !default;
$checkbox-disabled-border-color: get($colors, "muted") !default;
$checkbox-use-focus-handler: true !default;
$checkbox-size: 1.25em !default;
$checkmark-size: 1em !default;

$checkbox-border-radius: get($radius, "xs") !default;
$checkbox-border-top-right-radius: $checkbox-border-radius !default;
$checkbox-border-bottom-right-radius: $checkbox-border-radius !default;
$checkbox-border-top-left-radius: $checkbox-border-radius !default;
$checkbox-border-bottom-left-radius: $checkbox-border-radius !default;

$checkbox-border-color: get($colors, "secondary-dark") !default;
$checkbox-border-all: $checkbox-border-width solid $checkbox-border-color !default;
$checkbox-border-top: $checkbox-border-all !default;
$checkbox-border-left: $checkbox-border-all !default;
$checkbox-border-right: $checkbox-border-all !default;
$checkbox-border-bottom: $checkbox-border-all !default;

@mixin checkIcon($color) {
  $encodedColor: unquote(str-replace(quote(unquote("") + $color), "#", "%23"));
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='15' height='12' viewBox='0 0 15 12'%3E%3Cg fill='none' fill-rule='evenodd'%3E%3Cg fill='%2300706E'%3E%3Cg%3E%3Cg%3E%3Cpath d='M14.574.436c.38.38.38.998 0 1.378L12.31 4.08l-1.38 1.379-5.515 5.515c-.037.037-.076.071-.118.101-.043.075-.096.146-.16.21-.381.381-.998.381-1.38 0L2.379 9.908.539 8.068c-.38-.38-.38-.998 0-1.379.381-.38.999-.38 1.38 0l2.51 2.512L9.552 4.08 10.93 2.7 13.195.436c.381-.381.998-.381 1.38 0z' transform='translate(-402 -192) translate(399 186) translate(0 3) translate(3 3)'/%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E%0A");

}

%checkbox-label {
  content: "";
  flex: 0 0 auto;
  background: $checkbox-background;
  box-sizing: border-box;
  border-bottom: $checkbox-border-bottom;
  border-left: $checkbox-border-left;
  border-right: $checkbox-border-right;
  border-top: $checkbox-border-top;
  border-top-left-radius: $checkbox-border-top-left-radius;
  border-top-right-radius: $checkbox-border-top-right-radius;
  border-bottom-left-radius: $checkbox-border-bottom-left-radius;
  border-bottom-right-radius: $checkbox-border-bottom-right-radius;
  display: inline-block;
  width: $checkbox-size;
  height: $checkbox-size;
  position: relative;
  cursor: pointer;
  text-align: center;
  margin-right: 0.625em;
  /*
  @supports (margin-inline-end: 0) {
    margin-right: 0;
    margin-inline-end: 0.625em;
  }
  */
}

%checkbox-label-checked {
  @include checkIcon($checkbox-inner-circle-color);
  background-position: center center;
  background-size: $checkmark-size $checkmark-size;
  background-repeat: no-repeat;
}

%checkbox-label-focus {
  @if $checkbox-use-focus-handler == true {
    @extend %focus;
  } @else {
    outline: none;
  }
}

%checkbox-label-disabled {
  cursor: default;
  border-color: $checkbox-disabled-border-color;
}

.ic-forms__checkbox {
  position: absolute;
  opacity: 0;

  + label {
    display: flex;
    align-items: center;

    &:before {
      @extend %checkbox-label;
      margin-top: 3px;
    }
  }
  &:checked {
    + label {
      &:before {
        @extend %checkbox-label-checked;
      }
    }
  }
  &:focus {
    + label {
      &:before {
        @extend %checkbox-label-focus;
      }
    }
  }
  &[disabled],
  &:disabled {
    + label {
      &:before {
        @extend %checkbox-label-disabled;
      }
    }
  }
  &[disabled]:checked,
  &:disabled:checked {
    + label {
      &:before {
        @extend %checkbox-label-disabled;
        @include checkIcon($checkbox-disabled-border-color);
      }
    }
  }
  + label {
    &:empty {
      &:before {
        margin-right: 0;
      }
    }
  }
}

.ic-checkbox-group-horizontal {
  @extend .ic-group-horizontal;

  .ic-forms__checkbox + label {
    display: inline-flex;
    align-items: flex-start;
  }
}

.ic-checkbox-group-vertical {
  @extend .ic-group-vertical;
}
