/*
This is a copy from the pwt-platformui repo and burger used on 1177.se
with some minor changes.

Naming conventions are not the same as other components in inera-core-css repo.
This could be subject for a refactor in the future.

*/
@use "sass:math";

$burger-color: get($colors, "nav") !default;
$burger-size: rem-calc(19) !default;
$button-size-medium: rem-calc(30) !default;
$burger-lines-top: (-4px, -4px) !default;
$burger-before-top: (6px, 6px) !default;
$burger-after-top: (-6px, -6px) !default;
$burger-lines-height: (2px, 2px) !default;

@mixin Burger(
  $burger-color: $burger-color,
  $burger-size: $burger-size,
  $lines-top: $burger-lines-top,
  $before-top: $burger-before-top,
  $after-top: $burger-after-top,
  $lines-height: $burger-lines-height
) {
  .ic-burger {
    border: none;
    cursor: pointer;
    z-index: 2;
  }

  $color: $burger-color;

  //common to all three-liners
  .lines-button {
    cursor: pointer;
    user-select: none;
    position: relative;
    top: nth($lines-top, 1);

    &:active {
      transition: 0s;
    }
  }

  //Add padding to hamburger menu when the screen size is iPhone SE or smaller
  @media screen and (max-width: 320px) {
    .lines-button {
      padding-right: 10px;
    }
  }

  //common to all three-liners
  .lines {
    @include line(
      $burger-size: $burger-size,
      $lines-height: $lines-height,
      $color: $burger-color
    );
    position: relative;

    &:before,
    &:after {
      @include line(
        $burger-size: $burger-size,
        $lines-height: $lines-height,
        $color: $burger-color
      );

      position: absolute;
      left: 0;
      content: "";
      -webkit-transform-origin: math.div($burger-size, 14) center;
      transform-origin: math.div($burger-size, 14) center;
    }

    &:before {
      top: nth($before-top, 1);
    }

    &:after {
      top: nth($after-top, 1);
    }
  }

  .lines-button.close {
    -webkit-transform: scale3d(0.8, 0.8, 0.8);
    transform: scale3d(0.8, 0.8, 0.8);
  }
  // for both the arrow up and left icons
  .lines-button.arrow.close {
    .lines {
      &:before,
      &:after {
        top: 0;
        width: math.div($burger-size, 1.8);
      }
      &:before {
        -ms-transform: rotate(40deg);
        -webkit-transform: rotate3d(0, 0, 1, 40deg);
        transform: rotate3d(0, 0, 1, 40deg);
      }
      &:after {
        -ms-transform: rotate(-40deg);
        -webkit-transform: rotate3d(0, 0, 1, -40deg);
        transform: rotate3d(0, 0, 1, -40deg);
      }
    }
  }

  //arrow up only: just rotate by 90degrees
  .lines-button.arrow-up.close {
    -webkit-transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
    transform: scale3d(0.8, 0.8, 0.8) rotate3d(0, 0, 1, 90deg);
  }
  //three-lines to minus only
  .lines-button.minus.close {
    .lines {
      &:before,
      &:after {
        -webkit-transform: none;
        transform: none;
        top: 0;
        width: $burger-size;
      }
    }
  }

  //three-lines to x

  .lines-button.x.close {
    .lines {
      background: transparent;
      &:before,
      &:after {
        -ms-transform-origin: 50% 50%;
        -webkit-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
        top: 0;
        width: $burger-size;
      }
      &:before {
        -ms-transform: rotate(45deg);
        -webkit-transform: rotate3d(0, 0, 1, 45deg);
        transform: rotate3d(0, 0, 1, 45deg);
      }
      &:after {
        -ms-transform: rotate(-45deg);
        -webkit-transform: rotate3d(0, 0, 1, -45deg);
        transform: rotate3d(0, 0, 1, -45deg);
      }
    }
  }
  /**** Grid  ****/

  @content;
}

//common to all three-liners
@mixin line(
  $burger-size: 21px,
  $lines-height: (
    2px,
    4px,
  ),
  $transition: 0.3s,
  $color: blue
) {
  display: inline-block;
  width: $burger-size;
  border-radius: 2px;
  transition: $transition;
  height: nth($lines-height, 1);
  background: $color;
}

// To target the hamburger button example
.iu-bg-cta.ic-burger > .lines-button > .lines {
  background: white;

  &::after,
  &::before {
    background: white;
  }
}
