$page-header-height: rem-calc(50) !default;
$page-header-height-md: $page-header-height !default;
$page-header-height-lg: rem-calc(120) !default;
$page-header-background: false !default;
$page-header-inner-background: c("transparent") !default;
$page-header-logo-container-background: c("transparent") !default;
$page-header-box-shadow: none !default;
$page-header-faux-shadow: none !default;
$page-header-mobile-tools-font-size: 1rem !default;
$page-header-mobile-tools-height: auto !default;
$page-header-font: inherit !default;
$page-header-padding-top: 0 !default;
$page-header-padding-right: null !default;
$page-header-padding-bottom: 0 !default;
$page-header__burger-padding-top: 0 !default;
$page-header__burger-padding-bottom: 0 !default;
$page-header-color: get($colors, "nav") !default;
$page-header__button-mr: 0 !default;

$navlist-chevron-size: null !default;
$navlist-chevron-width: null !default;

$logo-color: null !default;
$logo-image: null !default;
$logo-image-height: null !default;
$logo-image-width: null !default;
$logo-scale-lg: null !default;
$logo-image-width-lg: null !default;
$logo-image-height-lg: null !default;
$logo-padding: null !default;
$logo-padding-lg: null !default;
$header-height: null !default;
$header-height-lg: null !default;
$header-font-sm: null !default;
$header-font-md: null !default;
$header-font-lg: null !default;
$header-inera-font-md: rem-calc(10) !default;
$header-inera-font-lg: rem-calc(14) !default;
$header-line-height-sm: null !default;
$header-line-height-md: null !default;
$header-line-height-lg: null !default;
$header-padding: null !default;

$iu-color-separator: null !default;

.ic-nac {
  overflow: visible;
}

// .ic-page-box-shadow {
//   @if $page-header-background {
//     background: $page-header-background;
//   }
//   box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
//   width: 100%;
//   margin-left: auto;
//   margin-right: auto;
// }

.ic-loggedin__text {
  font-family: get($fonts, "body");
  color: get($colors, "stone-dark");
  line-height: 150%;
}

.ic-loggedin__username {
  font-family: get($fonts, "body");
  font-size: em-calc(17);
  font-weight: get($fontWeights, "regular");
  line-height: rem-calc(23);
  letter-spacing: 1px;
  white-space: nowrap;
  text-align: left;
  flex-grow: 1;
  max-width: 100%;
  margin-right: 15px;
}

.ic-page-header__container {
  max-width: $container-width;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.ic-loggedin__text {
  @extend %ic-loggedin__text !optional;
}

.ic-page-header {
  @if $page-header-background {
    background: $page-header-background;
  }
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 6px;
  font-family: $page-header-font;
  position: relative;
  z-index: 2;
  overflow: visible;
}

.ic-page-header a {
  @extend %ic-page-header !optional;
  color: get($colors, "nav");
}

.ic-page-header__inner {
  width: 100%;
  height: $page-header-height;
  @include im-breakpoint("md") {
    height: $page-header-height-md;
  }
  @include im-breakpoint("lg") {
    height: $page-header-height-lg;
  }
  // max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  background: $page-header-inner-background;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
  align-items: center;
}

.ic-page-header__item {
  @extend %ic-page-header__item !optional;
  position: relative;
  height: auto;
  display: flex;
  align-items: center;

  .iu-mr-gutter {
    margin-right: rem-calc(20) !important;
  }
}

.ic-page-header__logo-container {
  /* @extend: this is used for example by 1177 to add the curved edge */
  @extend %ic-page-header__logo-container !optional;
  box-sizing: content-box;
  background: $page-header-logo-container-background;
  height: $header-height;
  flex: 0 0 auto;
  padding: $logo-padding;
  width: $logo-image-width;
  @include im-breakpoint("lg") {
    width: $logo-image-width-lg;
    height: $header-height-lg;
    padding: $logo-padding-lg;
  }
}

.ic-page-header__logo-container-prof {
  /* @extend: this is used for example by 1177 to add the curved edge */
  @extend %ic-page-header__logo-container !optional;
  box-sizing: content-box;
  background: $page-header-logo-container-background;
  height: 100%;
  flex: 0 0 auto;
  padding: 0 0.625rem 0 0.625rem;
  width: $logo-image-width;
  @include im-breakpoint("lg") {
    width: $logo-image-width-lg;
    padding: 0 1.25rem 0 0;
  }
}

.ic-page-header__logo-link {
  @if $logo-image != null {
    background-image: $logo-image;
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    width: 100%;

    @include im-breakpoint("lg") {
      background-size: $logo-image-width-lg;
    }

    // when we have a background image
    // we "hide" the text.
    &-text {
      @extend .iu-sr-only;
    }
  }
}

.ic-page-header__service-container {
  display: block;
  height: 100%;
  flex: 2;
  margin-left: rem-calc(10);
  margin-right: rem-calc(10);
  padding-top: 5px;
  overflow: hidden;
  white-space: nowrap;

  @include im-basic-breakpoint(lg) {
    margin-left: rem-calc(20);
    margin-right: rem-calc(20);
  }
}

.ic-page-header__service-name {
  @extend %ic-page-header__service-name !optional;

  @include im-breakpoint("sm") {
    font-size: $header-font-sm;
    line-height: $header-line-height-sm;
  }
  @include im-breakpoint("md") {
    font-size: $header-font-md;
    line-height: $header-line-height-md;
  }
  @include im-breakpoint("lg") {
    font-size: $header-font-lg;
    line-height: $header-line-height-lg;
  }
}


/* Centering the "Tjänstens namn" logo in the middle of the mobile header*/
.ic-page-header__service-name {
  padding-top: 8px;
}

.ic-page-header__service-inera {
  font-weight: 400;
  font-family: get($fonts, "body");
  text-transform: uppercase;
  color: get($colors, "black");
  line-height: rem-calc(19);
  margin-bottom: 12px;
  font-size: $header-inera-font-md;

  @include im-breakpoint("md") {
    font-size: $header-inera-font-md;
  }
  @include im-breakpoint("lg") {
    font-size: $header-inera-font-lg;
  }
}

.ic-page-header__noname_service-container {
  height: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: rem-calc(20);
}

.ic-page-header__noname_service-title {
  font-family: get($fonts, "heading");
  font-weight: 400;
  letter-spacing: rem-calc(-0.51);

  font-size: rem-calc(11);
  line-height: rem-calc(13.1);
  @include im-breakpoint("md") {
    font-size: rem-calc(18);
    line-height: rem-calc(20.5);
  }
  @include im-breakpoint("lg") {
    font-size: rem-calc(14);
    line-height: rem-calc(14);
  }
}

.ic-page-header__noname_service-explanation {
  color: get($colors, "secondary-dark");
  font-family: get($fonts, "heading");
  font-weight: 700;
  letter-spacing: rem-calc(-0.51);

  font-size: rem-calc(11);
  line-height: rem-calc(13.1);
  @include im-breakpoint("md") {
    font-size: rem-calc(18);
    line-height: rem-calc(20.5);
  }
  @include im-breakpoint("lg") {
    font-size: rem-calc(24);
    line-height: rem-calc(30);
  }
}

.ic-page-header__icon-container {
  background-color: white;
  height: 100%;
  flex: 0 0 auto;
  padding: 30px;
}

.ic-page-header__button:not([aria-label="dropdown"]) {
  color: $page-header-color;
  background-color: inherit;
  border: 0;
  font-size: inherit;
  margin-right: $page-header__button-mr;
}

[dir="rtl"] .ic-page-header__button:not([aria-label="dropdown"]) {
  color: $page-header-color;
  background-color: inherit;
  border: 0;
  font-size: inherit;
  margin-right: 0;
  margin-left: rem-calc(17);
}

.ic-page-header__button[aria-label="dropdown"] {
  color: $page-header-color;
  background-color: inherit;
  border: 0;
  font-size: inherit;
}

.ic-page-header__button[aria-label="Logga in"]::before,
.ic-page-header__separator::before {
  content: "";
  position: absolute;
  border-right: 1px solid get($colors, "neutral90");
  top: -5px;
  bottom: -5px;
  left: 0;
  cursor: none;
}

.ic-page-header__separator {
  position: relative;
  margin-left: 1rem;
  padding-left: 1rem;
}

.ic-page-header__separator[aria-label="avatar"] {
  position: relative;
  margin-left: 1rem;
  padding-left: rem-calc(30);
}

.ic-page-header__line-vertical {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  // width: 1px;
  // height: inherit;
  border-right: 1px solid get($colors, "main");
}

.ic-page-header__line-horizontal {
  background-color: white;
  background-repeat: no-repeat;
  background-size: contain;
  border-bottom: 1px solid get($colors, "nav-horizontal");
  margin: 0 20px;
  // margin-left: auto;
  // margin-right: auto;
}

.ic-page-header__inner ~ * {
  box-shadow: $page-header-faux-shadow;
}

// .ic-page-header__burger {
//   align-self: stretch;
//   width: rem-calc(30);
//   &:focus {
//     outline-offset: rem-calc(-3);
//   }
// }

.ic-page-header__burger {
  display: block;
  width: 100%;
  height: 100%;
  padding-top: $page-header__burger-padding-top;
  padding-bottom: $page-header__burger-padding-bottom;

  &:focus {
    outline-offset: rem-calc(2);
  }
}

.iu-lh-narrow ul {
  display: flex;
}

// Chevron
.ic-page-header__chevron {
  padding-bottom: 4px;
  padding-right: 2px;
  color: $link-color;

  &:after {
    content: "";
    text-decoration: none;
    @include chevron($dir: "down", $width: rem-calc(2));
  }
}

.ic-page-header-dropdown__list {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.ic-page-header-dropdown__list__item {
  display: flex;
  align-items: center;
}

.ic-page-header__link {
  font-family: get($fonts, "body");
  line-height: em-calc(24);
  font-weight: get($fontWeights, "regular");
  text-decoration: none;
  color: get($colors, "nav");
  white-space: nowrap;
}

.ic-page-header__box {
  display: flex;
  position: relative;
  padding: 10px 0;
  margin-right: rem-calc(20);
  flex-direction: row-reverse;
}

ic-page-header__box[open] {
  visibility: visible;
}

.iu-color-separator {
  border: 0;
  color: $iu-color-separator;
  margin-bottom: rem-calc(20);
}

.ic-page-header-dropdown__container {
  display: none;
  position: absolute;
  margin-top: 15px;
  width: 100%;
  top: 100%;
  right: -20px;
  background: white;
  padding: rem-calc(20);
  min-width: 250px;
  z-index: 999;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}

.ic-page-header-dropdown__container.open {
  display: block;
}
