.icon--group {
  display: flex;
  align-items: flex-end;
  padding-bottom: rem-calc(6);
  gap: rem-calc(20);
}

.icon--adjust {
  width: rem-calc(25);
  height: rem-calc(25);
  padding: rem-calc(2);
  margin-right: rem-calc(13);
}
