$link-list-spacing: rem-calc(0) !default;
$link-list-headline-use-divider: false !default;

/* This adds a margin on the li tag to create some distance betweeen the links */
$focus-margin: 2 !default;

/* This is instead of the focus-offset */
$focus-padding: 2 !default;

.ic-unstyled-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.ic-unstyled-list li {
  margin-right: 20px;
}

/* Media query for smaller screens */
@media screen and (max-width: 480px) {
  .ic-unstyled-list li {
    margin-right: 0;
    flex-basis: 100%;
  }
}

.ic-link-list {
  @extend .ic-unstyled-list;

  li + li {
    margin-top: $link-list-spacing;
  }
}

.ic-link-list {
  @extend .ic-unstyled-list;

  li + li {
    margin-top: $link-list-spacing;
  }
}

.ic-link-list button,
.ic-link-list a:link {
    text-decoration: none;
    background-position: center left;
    background-repeat: no-repeat;
    display: inline-block;
    padding: rem-calc($focus-padding);
    margin: rem-calc($focus-margin);
}

.ic-link-list button:hover,
.ic-link-list a:link:hover {
    text-decoration: underline;
}

.ic-link-list--inverted {
  color: get($colors, "white");
}

.ic-link-list--inverted > li > a:focus,
.ic-link-list--inverted > li > button:focus {
  outline: 2px solid white;
}

.ic-link-list--inverted a,
.ic-link-list--inverted button {
  color: inherit;
}

.ic-link-list--nav button,
.ic-link-list--nav a {
  @extend .ic-nav-link;
}

.ic-link-list [class^="icon-"]:before {
  text-decoration: none;
  margin-right: rem-calc(10);
}

.ic-link-list__headline {
  @extend .ic-subtitle;
  @extend .ic-subtitle--light;
  margin-bottom: $link-list-spacing;

  @if $link-list-headline-use-divider {
    @include smallDivider($paddingBottom: rem-calc(10), $width: rem-calc(40));
  }
}

/* block list for news/hits */

.ic-block-list {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: rem-calc(5);
}

.ic-block-list__item h3::before {
  content: "";
  text-decoration: none;
  border-style: solid;
  border-color: currentColor;
  border-width: 0 0.0625rem 0.0625rem 0;
  display: inline-block;
  border-radius: 0;
  padding: 0.24rem;
  transform: rotate(-45deg);
  margin-right: 15px;
  margin-left: 1px;
  margin-bottom: 3px;
}

.ic-block-list__item {
  @extend .ic-card;
  position: relative;
  padding: rem-calc(20);
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #dadbdc;
}

.ic-block-list__item:focus-within {
  outline-offset: -2px;
}

.ic-block-list--striped {
  row-gap: 0;
}

.ic-block-list--striped .ic-block-list__item:nth-child(even) {
  background-color: get($colors, "background");
}

/* news list item */

.ic-news-list-item {
  display: grid;
  grid-template-columns: rem-calc(50) 1fr;
  column-gap: rem-calc(20);
  @include im-breakpoint(md) {
    grid-template-columns: rem-calc(70) 1fr;
  }
}

.ic-news-list-item__date {
  z-index: 1;
}

.ic-news-list-item__body {
  padding-top: rem-calc(5);
  line-height: 1.5;
  overflow: hidden;
}

[class*="--striped"] > *:nth-child(odd) {
  overflow: hidden;
}

.ic-news-list-item__author {
  font-size: rem-calc(15);
  font-style: italic;
  @include im-breakpoint(md) {
    font-size: inherit;
    font-style: unset;
  }
}

/* cookie list */

.ic-cookie-list {
  padding-top: rem-calc(20);
  padding-bottom: rem-calc(20);
  display: flex;
  flex-direction: column;
  font-size: get($fontSizes, 200);

  @include im-breakpoint(md) {
    flex-direction: row;
    justify-content: center;
  }

  @include im-breakpoint(lg) {
    // padding-top: rem-calc(0);
    justify-content: flex-end;
  }
}

.ic-cookie-list li:not(:first-child) {
  margin-top: rem-calc(10);

  @include im-breakpoint(md) {
    margin-top: unset;
    margin-left: rem-calc(55);

    [dir="rtl"] & {
      margin-right: rem-calc(55);
    }
  }
}
