$meganav-padding-left: rem-calc(90) !default;
$meganav-padding-right: rem-calc(110) !default;
$meganav-padding-top: rem-calc(52) !default;
$meganav-padding-bottom: rem-calc(52) !default;

.ic-meganav[aria-hidden="false"] {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
}

.ic-meganav {
  display: none;
  position: absolute;
  margin-top: rem-calc(18);
  // left: calc(rem-calc(-90) + $topnav-link-spacing);
  // right: calc(rem-calc(-90) + $topnav-link-spacing);
  z-index: 20;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .ic-meganav__container {
    background-color: get($colors, "meganav");
    box-shadow: 0 4px 8px 0 rgba(53, 53, 53, 0.2);
    max-width: 90rem;
    padding-top: $meganav-padding-top;
    padding-bottom: $meganav-padding-bottom;

    display: flex;
    // flex-direction: column;
    transition: all 0.3s ease;

    @include im-breakpoint("lg") {
      padding-left: rem-calc(20);
      padding-right: rem-calc(20);
      margin-left: 0;
      margin-right: 0;
      width: 100%;
    }

    @include im-breakpoint("xl") {
      padding-left: rem-calc(32);
      padding-right: rem-calc(32);
      margin-left: -0.5rem;
      margin-right: -0.5rem;
      width: calc(100% + 2rem);
    }

    @include im-breakpoint("xxl") {
      padding-left: calc(rem-calc(90) + $topnav-link-spacing);
      padding-right: calc(rem-calc(90) + $topnav-link-spacing);
      margin-left: -5.125rem;
      margin-right: -5.125rem;
      width: calc(100% + 10.25rem);
    }
  }
}

.ui-meganav__link {
  a {
    font-style: normal;
    font-weight: normal;
    font-size: rem-calc(16);
    line-height: rem-calc(22);
    letter-spacing: rem-calc(-0.4);
  }

  a:before {
    color: get($colors, "main");
    content: "\e820";
    font-size: $meganav-icon-size;

    display: flex;
    justify-content: center;
    align-items: center;

    speak: never;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: fontello;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1em;

    text-align: center;
    text-decoration: inherit;
    text-transform: none;

    width: rem-calc(16);
    height: rem-calc(16);
    border-radius: 100%;
    margin-right: rem-calc(4);
  }

  a:focus {
    /* Make the outline when you click to be completely visible */
    position: relative;
  }

  a:hover:before,
  [aria-current]:before {
    color: get($colors, "white");
    background-color: get($colors, "main");
  }
}

.ic-meganav__menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.ic-meganav__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  z-index: 2;
  margin-right: rem-calc(50);

  &:last-child {
    margin-right: rem-calc(0);
  }

  .ic-meganav__list__item {
    border-bottom: 1px solid get($colors, "stone-line");
    margin-left: 0;
    a {
      display: flex;
      color: get($colors, "primary40");
      align-items: center;
      justify-content: flex-start;
      width: 100%;
      height: rem-calc(40);
    }
    @extend .ui-meganav__link;
  }
}

.ic-meganav__information {
  flex: 0 0 rem-calc(262);
  margin-left: rem-calc(50);
  z-index: 2;

  .ic-meganav__information__title {
    color: get($colors, "secondary-dark");
    font-style: normal;
    font-weight: bold;
    font-size: rem-calc(22);
    line-height: rem-calc(28);
    letter-spacing: rem-calc(-0.3);
    margin-bottom: rem-calc(8);
  }

  .ic-meganav__information__text {
    color: get($colors, "stone-dark");
    font-style: normal;
    font-weight: normal;
    font-size: rem-calc(16);
    line-height: rem-calc(24);
    margin-bottom: rem-calc(8);
  }

  .ic-meganav__information__link {
    margin-top: rem-calc(15);
    @extend .ui-meganav__link;
    a {
      display: flex;
      align-items: center;
      height: rem-calc(34);
    }
  }
}
