$nav-fontsize: 1em !default;
$topnav-fontsize: 1em !default;
$topnav-height: auto !default;
$topnav-link-spacing: 0.5rem !default;
$topnav-box-shadow: none !default;
$topnav-decoration: none !default;

$navbar-color: null !default;

$navlist-spacing-y: 0.5rem !default;
$navlist-spacing-x: 0.5rem !default;
$navlist-background: get($colors, "nav") !default;
$navlist-fontweight: inherit !default;
$navlist-font-family: inherit !default;
$navlist-font-line-height: inherit !default;
$navlist-text: get($colors, "nav-text") !default;
$navlist-text-sub: inherit !default;
$navlist-item-expanded-background: get($colors, "secondary-light") !default;
$navlist-item-selected-background: get($colors, "secondary-light") !default;
$navlist-item-expanded-box: get($colors, "secondary-light") !default;
$navlist-current-background: transparent !default;
$navlist-chevron-size: rem-calc(5) !default;
$navlist-chevron-width: rem-calc(2) !default;
$navlist-chevron-container-width: rem-calc(50) !default;

$navlist-level-1-padding: rem-calc(20) !default;
$navlist-level-2-padding: rem-calc(40) !default;
$navlist-level-3-padding: rem-calc(60) !default;
$navlist-level-4-padding: rem-calc(80) !default;

$ic-nav-a-padding-y: 1rem !default;

/* Generic navigation bar component */

.ic-nav {
  ul {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    display: flex;
  }
  li {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: relative;
    margin: 0;
    padding: 0;
  }
  a {
    // @extend %ic-page-header !optional;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: $navbar-color;
    //width: 100%;
    height: 100%;
    padding-top: $ic-nav-a-padding-y;
    padding-bottom: $ic-nav-a-padding-y;
    gap: 10px;
  }
}

.ic-nav--divider {
  ul > li {
    border-right: 1px solid rgba(get($colors, "nav"), 0.2);
  }
  ul > li:last-child {
    border-right: none;
  }
}

.ic-nav--full {
  ul > li {
    flex: 1 1 auto;
  }
}

/* Navigation right under/inside the header component */

$topnav-background: c("body") !default;
$topnav-padding: null !default;

.ic-nav__link {
  @extend %ic-nav__link !optional;
  font-size: $nav-fontsize;
  text-decoration: $topnav-decoration;
  font-family: $page-header-font;
  margin-left: rem-calc(10);
}

.ic-topnav {
  position: relative;
  background-color: $topnav-background;
  @extend .ic-nav;

  &.ic-topnav {
    box-shadow: $topnav-box-shadow;
  }

  > ul {
    height: 60px;
}
  > ul > li:first-child {
    margin-left: $topnav-link-spacing;
  }

  > a {
    padding-left: $topnav-link-spacing;
    padding-right: $topnav-link-spacing;
    height: $topnav-height;
  }
}

.ic-topnav__link {
  @extend %ic-topnav__link !optional;
  font-size: $topnav-fontsize;
  text-decoration: $topnav-decoration;
  padding-left: $topnav-link-spacing;
  padding-right: $topnav-link-spacing;
}

/* navigation list used for mobile navigation */

/* navigation list used for mobile navigation */

.ic-nav-list, .ic-nav-list__footer {
  @extend .ic-nav;
  background-color: $navlist-background;
  font-weight: $navlist-fontweight;
  color: $navlist-text; // max-width: 80rem;

  margin-left: auto;
  margin-right: auto;
}

.ic-nav-list a, .ic-nav-list__footer a {
  color: inherit;
}

.ic-nav-list a, .ic-nav-list__footer a {
  flex: 1 0 auto;
  justify-content: flex-start;
  padding: $navlist-spacing-y $navlist-spacing-x;
}

.underline-link {
  text-decoration: underline !important;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item:first-child > a, .ic-nav-list__footer > .ic-nav-list__list__footer > .ic-nav-list__item__footer:first-child > a{
  max-width: calc(100% - $navlist-chevron-container-width);
}

.ic-nav-list__item--has-children > a {
  // leave room for the button chevron
  max-width: calc(100% - $navlist-chevron-container-width);
  // overflow: hidden;
  // white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
}

.ic-nav-list__list .ic-nav-list__list .ic-nav-list__item > a, .ic-nav-list__list__footer .ic-nav-list__list__footer .ic-nav-list__item__footer > a {
  // leave room for the button chevron
  width: 100%;
  overflow: hidden;
  // white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  //background-color: #C12143;
}

.ic-nav-list ul, .ic-nav-list__footer ul {
  flex-direction: column;
}

.ic-nav-list li, .ic-nav-list__footer li {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
  list-style-type: none;
  font-weight: bold;
}

/* Set "not(:nth-child()" depending on where you don't want a white line appearing on top of the li element */

.ic-nav-list li:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 100%
}


.ic-nav-list__footer li:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 90%;
  border-bottom: 1px solid white;
}

.ic-nav-list__list__footer:focus, .ic-nav-list__list__footer a:focus {
  outline: 2px solid white;
}

.ic-nav-list li > a {
  border-bottom: 1px solid white;
}

.ic-nav-list > .ic-nav-list__list > .ic-nav-list__item > a {
  background: none !important;
}

.ic-nav-list__item__subnormal {
  background-color: #c12143;
}

.ic-nav-list__item__subnormal a {
  font-size: 0.875em;
  font-family: inherit;
  font-weight: normal;
  background-color: #c12143;
  z-index: 1;
}

.ic-nav-list__list__inera a {
  font-size: 0.875em;
  font-family: inherit;
  font-weight: normal;
}

.ic-nav-list__item__subnormal a::before {
  content: "";
  position: absolute;
  left: 5%;
  right: 5%;
  bottom: 0;
  width: 90%;
  z-index: -1;
  border-bottom: 1px solid white;
}

.ic-nav-list__item__subnormal a:focus {
  outline: 2px solid #ffff;
  outline-offset: -2px;
}

/* .ic-nav-list__list .ic-nav-list__item--expanded {
  background: get($colors, "opened");
  box-shadow: inset 10px 0 0 0 $navlist-item-expanded-box;
  color: get($colors, "nav");
  font-weight: normal;
} */

/* [dir="rtl"] .ic-nav-list__list .ic-nav-list__item--expanded {
  box-shadow: inset -10px 0 0 0 get($colors, "opened");
} */

.ic-nav-list__list .ic-nav-list__list li, .ic-nav-list__list__pro .ic-nav-list__list__pro li {
  // box-shadow: inset 10px 0 0 0 $navlist-item-expanded-box;
  font-weight: normal;
  Color: #A00B36;
}

/* first sub-level */
.ic-nav-list__list .ic-nav-list__list, .ic-nav-list__list__pro .ic-nav-list__list__pro {
  display: inline-block;
  // overflow: hidden;
  width: 100%;
}

.ic-nav-list__list .ic-nav-list__list a {
  font-size: get($fontSizes, "sm");
  font-family: $navlist-font-family;
  border-bottom: 1px solid #C12143;
}

.ic-nav-list__list__pro .ic-nav-list__list__pro a {
  font-size: get($fontSizes, "sm");
  font-family: $navlist-font-family;
}

.ic-nav-list__list__pro .ic-nav-list__list__pro > .ic-nav-list__item:first-child > a {
  border-top: 1px solid #808285;
}

/* second sub-level */
.ic-nav-list__list .ic-nav-list__list .ic-nav-list__list a, .ic-nav-list__list__pro .ic-nav-list__list__pro .ic-nav-list__list__pro a {
  padding-left: $navlist-level-2-padding;
}

[dir="rtl"] .ic-nav-list__list .ic-nav-list__list .ic-nav-list__list a, [dir="rtl"] .ic-nav-list__list__pro .ic-nav-list__list__pro .ic-nav-list__list__pro a {
  padding-right: $navlist-level-2-padding;
}

/* third sub-level */
.ic-nav-list__list .ic-nav-list__list .ic-nav-list__list .ic-nav-list__list a, .ic-nav-list__list__pro .ic-nav-list__list__pro .ic-nav-list__list__pro .ic-nav-list__list__pro a {
  padding-left: $navlist-level-3-padding;
}

[dir="rtl"]
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  a {
  padding-right: $navlist-level-3-padding;
}

[dir="rtl"]
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  a {
  padding-right: $navlist-level-3-padding;
}

/* fourth sub-level */
.ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  a {
  padding-left: $navlist-level-4-padding;
}

/* fourth sub-level */
.ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  a {
  padding-left: $navlist-level-4-padding;
}

[dir="rtl"]
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list
  a {
  padding-right: $navlist-level-4-padding;
}

[dir="rtl"]
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  a {
  padding-right: $navlist-level-4-padding;
}

[dir="rtl"]
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__item--expanded
  > ul
  a {
  box-shadow: inset -10px 0 0 0 $navlist-item-expanded-box;
}

[dir="rtl"]
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__item--expanded
  > ul
  a {
  box-shadow: inset -10px 0 0 0 $navlist-item-expanded-box;
}

/* navbar markings */
.ic-nav-list__list .ic-nav-list__list .ic-nav-list__item--expanded > ul a, .ic-nav-list__item > ul a, .ic-nav-list__list__pro .ic-nav-list__list__pro {
  box-shadow: inset 10px 0 0 0 #faeef0;
}

.next-to-last-navbar {
  box-shadow: inset 10px 0 0 0 #C12143 !important;
}

/* focus */

.ic-forms__button--focus, .ic-forms__button:focus, .ic-forms__secondary-button:focus, .ic-forms__select:focus-within, .ic-textfield--focus, .ic-textfield:focus, .ic-textarea:focus, .ic-forms__checkbox:focus + label:before, .ic-forms__radio:focus + label:before, a:focus {
  outline-offset: -2px;
}

.ic-nav-list
  > .ic-nav-list__list
  > .ic-nav-list__list__pro
  > .ic-nav-list__item--has-children
  > ul
  button:focus {
  background: $navlist-item-selected-background;
}

.ic-nav-list
  > .ic-nav-list__list
  > .ic-nav-list__list__pro
  > .ic-nav-list__item--has-children
  > .ic-nav-list__list
  a:focus
  > .ic-nav-list__list__pro
  a:focus {
  background: $navlist-item-selected-background;
}

[dir="rtl"]
  .ic-nav-list
  > .ic-nav-list__list
  > .ic-nav-list__list__pro
  > .ic-nav-list__item--has-children
  > .ic-nav-list__list
  a:focus
  > .ic-nav-list__list__pro
  a:focus {
  background: $navlist-item-selected-background;
}

[dir="rtl"]
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__item--expanded
  a[aria-current],
[dir="rtl"] .ic-nav-list__list .ic-nav-list__list a:hover,
[dir="rtl"]
  .ic-nav-list__list
  .ic-nav-list__list
  .ic-nav-list__list__pro
  .ic-nav-list__list__pro
  .ic-nav-list__item--expanded
  a:hover {
  box-shadow: inset -10px 0 0 0 #ffff;
}

.ic-nav-list__expand[aria-expanded="false"],
.ic-nav-list__expand__first[aria-expanded="false"],
.ic-nav-list__expandpro[aria-expanded="false"],
.ic-nav-list__expand__footer[aria-expanded="false"],
.ic-nav-list__expandinera[aria-expanded="false"],
.ic-nav-list__expand__pro__menu[aria-expanded="false"]{
  &:after {
    content: "";
    @include chevron(
      $dir: down,
      $size: $navlist-chevron-size,
      $width: $navlist-chevron-width
    );
  }
}
.ic-nav-list__expand[aria-expanded="true"],
.ic-nav-list__expand__first[aria-expanded="true"],
.ic-nav-list__expandpro[aria-expanded="true"],
.ic-nav-list__expand__footer[aria-expanded="true"],
.ic-nav-list__expandinera[aria-expanded="true"],
.ic-nav-list__expand__pro__menu[aria-expanded="true"]{
  &:after {
    content: "";
    position: relative;
    top: $navlist-chevron-width;
    @include chevron(
      $dir: up,
      $size: $navlist-chevron-size,
      $width: $navlist-chevron-width
    );
  }
}

.ic-nav-list__expand {
  @extend %ic-nav-list__expand !optional;
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: translateY(-20%);
  flex: 0 1 $navlist-chevron-container-width;
  background: none;
  border: none;
  position: relative;
  border-bottom: 1px solid #C12143;
}

.ic-nav-list__expand__first{
  @extend %ic-nav-list__expand !optional;
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: translateY(-20%);
  flex: 0 1 $navlist-chevron-container-width;
  background: none;
  border: none;
  position: relative;
  border-bottom: 1px solid white;
}

.ic-nav-list__expand__pro__menu {
  @extend %ic-nav-list__expand !optional;
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: translateY(-20%);
  flex: 0 1 $navlist-chevron-container-width;
  background: none;
  border: none;
  position: relative;
  color: #A00B36;
}

.ic-nav-list__expand:focus {
  outline: 2px solid #636466;
  outline-offset: -2px;
}

.ic-nav-list__expandpro,
.ic-nav-list__expandinera {
  @extend %ic-nav-list__expand !optional;
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: translateY(-20%);
  flex: 0 1 $navlist-chevron-container-width;
  background: none;
  border: none;
  position: relative;
  color: #A00B36;
}

.ic-nav-list__expandpro:focus, .ic-nav-list__expand__pro__menu:focus {
  outline: 2px solid #636466;
  outline-offset: -2px;
}

.ic-nav-list__expand__footer {
  @extend %ic-nav-list__expand !optional;
  display: flex;
  align-items: center;
  justify-content: center;
  // transform: translateY(-20%);
  flex: 0 1 $navlist-chevron-container-width;
  background: none;
  border: none;
  position: relative;
  color: white;
}

.ic-nav-list__expand__footer:focus,
.ic-nav-list__expand__first:focus {
  outline: 2px solid white;
  outline-offset: -2px;
}

.ic-nav-list ul ul {
  flex: 1 0 100%;
}
