$notification-color: get($colors, "notification") !default;
$notification-background: $notification-color !default;
$notification-text: get($colors, "text") !default;
$notification-font-size: 0.875em !default;
$notification-size: 2em !default;
$notification-font-weight: 600 !default;

.ic-notification-badge {
}

.ic-notification {
  @extend %notification-text !optional;
  font-size: $notification-font-size;
  font-weight: $notification-font-weight;
  background-color: $notification-background;
  min-width: $notification-size;
  min-height: $notification-size;
  padding: 0 0.4em;
  box-sizing: border-box;
  border: 1px solid $notification-color;
  border-radius: $notification-size;
  text-align: center;
  display: inline-block;
  line-height: $notification-size;
  align-items: center;
  justify-content: center;
  @supports (display: inline-flex) {
    display: inline-flex;
    line-height: 1;
  }
}

.ic-notification-outline {
  @extend %notification-text-outline !optional;
  font-size: $notification-font-size;
  font-weight: $notification-font-weight;
  min-width: $notification-size;
  min-height: $notification-size;
  padding: 0 0.4em;
  box-sizing: border-box;
  border: 1px solid $notification-color;
  border-radius: $notification-size;
  text-align: center;
  display: inline-block;
  line-height: $notification-size;
  align-items: center;
  justify-content: center;
  @supports (display: inline-flex) {
    display: inline-flex;
    line-height: 1;
  }
}
