.ic-sticky {
  position: sticky;
  top: 0;
  z-index: 1;
}

.ic-sticky--sm {
  position: sticky;
  top: 0;
  z-index: 1;

  @include im-breakpoint(md) {
    position: relative;
    top: unset;
  }
}

[data-ic-sticky] {
  top: -1px;
  padding-top: calc(1px);
}
