$tab-font-weight: get($fontWeights, "nav") !default;
$tab-font-family: get($fonts, "body") !default;
$tab-height: 3rem !default;
$tab-background: #f1f1f5 !default;
$tab-border-bottom-color: get($colors, "sky-line") !default;
$border-width: 4px;
$top-offset: $border-width;

.test2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ic-tabbed__tabs {
  display: flex;
  position: relative;
  border-bottom: $border-width solid $tab-border-bottom-color;
  align-items: flex-end;
  padding: 0 rem-calc(20);
  height: 5rem;

  @supports (display: grid) {
    display: grid;
    grid-auto-flow: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 3px;
  }
}

.ic-tabbed__tabs li {
  display: inline-block;
}

.ic-tabbed__tab {
  position: relative;
  text-decoration: none;
  padding: 10px rem-calc(24) 14px;
  font-weight: $tab-font-weight;
  font-family: $tab-font-family;
  line-height: 20px;
  display: inline-block;
  top: $top-offset;

  @supports (display: grid) {
    margin-left: unset;
    margin-right: unset;
  }
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
}

.ic-tabbed__section:focus {
  outline: none;
}

.ic-tabbed__tab[aria-selected="true"] {
  @extend %ic-tabbed__tab !optional;
  background: get($colors, "body");
  color: get($colors, "neutral20");
  position: relative;
  top: $top-offset;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);

  @supports (display: grid) {
    margin-left: unset;
    margin-right: unset;
  }
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.ic-tabbed__tab[aria-selected="true"]::before {
  @extend %ic-tabbed__tab_color !optional;
  content: "";
  height: $border-width;
  z-index: 99;
  position: absolute;
  left: -1px;
  right: -1px;
  bottom: 0;
}

.ic-tabbed__tab[aria-selected="true"]:focus {
  outline: 2px solid get($colors, "stone-base");
  outline-offset: 2px;
}

.ic-tab-icon {
  height: 100%;
  gap: 4px;
}
