.iu-box {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
}

.iu-svg-icon-bg {
  background-position: center center;
  background-repeat: no-repeat;
}

.iu-svg-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  svg {
    width: auto;
    height: 100%;
  }
}

.iu-sr-only {
  @include sr-only();
}

.iu-no-resize {
  resize: none;
}

.iu-resize {
  overflow: auto;
  resize: both;
}

.iu-resize-vertical {
  overflow: auto;
  resize: vertical;
}

.iu-resize-horizontal {
  overflow: auto;
  max-width: 100%;
  resize: horizontal;
}

.iu-fl {
  float: left;
}

.iu-fr {
  float: right;
}

.iu-flex {
  display: flex;
}

.iu-grow {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: auto;
  max-width: 100%;
}

.iu-shrink {
  flex-basis: auto;
  flex-grow: 0;
  flex-shrink: 1;
}

.iu-grow-children > * {
  flex-grow: 1;
}

.iu-flex-column {
  flex-direction: column;
}

.iu-flex-row {
  flex-direction: row;
}

.iu-text-center {
  text-align: center;
}

.iu-text-left {
  text-align: left;
}

.iu-text-right {
  text-align: right;
}

.iu-text-justify {
  text-align: justify;
}

.iu-opacity-0 {
  opacity: 0;
}

.iu-opacity-50 {
  opacity: 0.5;
}

.iu-opacity-100 {
  opacity: 1;
}

.iu-flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iu-flex-start {
  display: flex;
  align-items: center;
  justify-content: start;
}

.iu-align-center {
  align-items: center;
}

.iu-align-end {
  align-items: flex-end;
}

.iu-align-start {
  align-items: flex-start;
}

.iu-align-self-end {
  align-self: flex-end;
}

.iu-align-self-start {
  align-self: flex-start;
}

.iu-justify-center {
  justify-content: center;
}

.iu-justify-start {
  justify-content: flex-start;
}

.iu-justify-end {
  justify-content: flex-end;
}

.iu-justify-space-between {
  justify-content: space-between;
}

.iu-order-0 {
  order: 0;
}

.iu-order-0--lg {
  @include im-breakpoint("lg") {
    order: 0;
  }
}

.iu-order-minus-1 {
  order: -1;
}

.iu-order-minus-1--lg {
  @include im-breakpoint("lg") {
    order: -1;
  }
}

.iu-order-1 {
  order: 1;
}

.iu-order-1--lg {
  @include im-breakpoint("lg") {
    order: 1;
  }
}

.iu-order-99 {
  order: 99;
}

.iu-order-99--lg {
  @include im-breakpoint("lg") {
    order: 99;
  }
}

.iu-fullwidth {
  width: 100%;
}

.iu-fullwidth--sm {
  @include im-breakpoint("sm" "md") {
    width: 100%;
  }
}

.iu-fullwidth--md {
  @include im-breakpoint("md") {
    width: 100%;
  }
}

.iu-fullwidth--lg {
  @include im-breakpoint("lg") {
    width: 100%;
  }
}

.iu-always-page-break-before {
  page-break-before: always;
}

.iu-avoid-page-break-inside {
  page-break-inside: avoid;
}

@media print {
  .iu-hide-for-print {
    display: none;
  }
}

.iu-clearfix {
  &::before,
  &::after {
    display: table;
    content: " ";
  }
  &::after {
    clear: both;
  }
}

.iu-truncate-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.iu-truncate-gradient {
  white-space: nowrap;
  // overflow: hidden;
  position: relative;
  &:after {
    content: "";
    position: absolute;
    width: 1.5em;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 999;
    // background: linear-gradient(
    //   90deg,
    //   rgba(get($colors, "background"), 0) 0%,
    //   get($colors, "background") 70%
    // );
  }
}

.iu-link-divider-right::after {
  content: "";
  border-right: 1px solid currentColor;
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.iu-link-divider-bottom {
  border-bottom: 1px solid currentColor;
}

.iu-display-flex {
  display: flex !important;
}

.iu-text-nowrap {
  white-space: nowrap !important;
}

.iu-focus {
  padding: 3px;
}

.iu-focus:focus {
  outline: 2px solid #636466;
  outline-offset: 2px;
}

.iu-focusblank {
  padding: 3px;
}

.iu-focusblank:focus {
  outline: 2px solid #636466;
  outline-offset: -10px;
}

.iu-focuscard {
  padding: 7px;
}

.iu-focuscard:focus {
  outline: 2px solid #636466;
  outline-offset: 15px;
}

/* #submenu-1 > li.ic-nav-list__item__sub:first-child > div > a:focus {
  outline-offset: -4px !important;
} */

@media (max-width: 640px) {
  .iu-focuscard:focus {
    outline-offset: -5px;
  }
}

/* block formating context */
.iu-bfc {
  overflow: auto;
  @supports (display: flow-root) {
    overflow: unset;
    display: flow-root;
  }
}

/* responsive helpers */

[class*="iu-show-"] {
  display: none !important;
}

$__breakpoint-list: to-list($core-breakpoints, "keys");

@for $i from 1 to length($__breakpoint-list) + 1 {
  $key: nth($__breakpoint-list, $i);
  $value: map-get($core-breakpoints, $key);
  $next: null;
  $nextKey: null;
  $bp: null;

  @if $i < length($__breakpoint-list) {
    $nextKey: nth($__breakpoint-list, $i + 1);
    $next: map-get($core-breakpoints, $nextKey);
    $bp: $key $nextKey;
  } @else {
    $bp: $key;
  }

  @include im-breakpoint($key) {
    .iu-hide-from-#{$key} {
      display: none !important;
    }
  }
  @include im-breakpoint($bp) {
    .iu-hide-#{$key} {
      display: none !important;
    }
    .iu-show-#{$key} {
      display: block !important;
    }
    .iu-show-#{$key}-grid {
      display: grid !important;
    }
    .iu-show-#{$key}-flex {
      display: grid !important;
    }
    .iu-show-#{$key}-inline {
      display: inline !important;
    }
    .iu-show-#{$key}-inline-block {
      display: inline-block !important;
    }
  }
}

/* variable helpers */

@each $name, $value in $lineHeights {
  .iu-lh-#{$name} {
    @include lineHeight($name, $important: !important);
  }
}

@each $name, $value in $letterSpacing {
  .iu-letspacing-#{$name} {
    @include letterSpacing($name, $important: !important);
  }
}

@each $name, $value in $fontWeights {
  .iu-fw-#{$name} {
    @include fontWeight($name, $important: !important);
  }
}

@each $name, $value in $fontSizes {
  .iu-fs-#{$name} {
    @include fontSize($name, $important: !important);
  }
}

@each $name, $value in $fonts {
  .iu-ff-#{$name} {
    @include font($name, $important: !important);
  }
}

@each $name, $value in $colors {
  .iu-bg-#{$name} {
    @include background($name, $important: !important);
  }
  .iu-color-#{$name} {
    @include color($name, $important: !important);
  }
  .iu-border-#{$name} {
    @include border($name, $important: !important);
  }
}

@each $name, $value in $radius {
  .iu-radius-#{$name} {
    @include radius($name, $important: !important);
  }
}

@each $name, $value in $boxShadow {
  .iu-shadow-#{$name} {
    @include shadow($name, $important: !important);
  }
}

@each $name, $value in $textTransform {
  .iu-tt-#{$name} {
    @include textTransform($name, $important: !important);
  }
}

.iu-no-underline {
  text-decoration: none !important;
}

.iu-underline {
  text-decoration: underline !important;
}

.iu-height-full {
  height: 100% !important;
}

@each $name, $value in $spacing {
  // Spacing height
  .iu-height-#{$name} {
    height: $value !important;
  }
  .iu-width-#{$name} {
    width: $value !important;
  }

  // Margin
  .iu-m-#{$name} {
    margin: $value !important;
  }
  .iu-mt-#{$name} {
    margin-top: $value !important;
  }
  .iu-mb-#{$name} {
    margin-bottom: $value !important;
  }
  .iu-ml-#{$name} {
    margin-left: $value !important;
  }
  .iu-mr-#{$name} {
    margin-right: $value !important;
  }
  .iu-mx-#{$name} {
    margin-right: $value !important;
    margin-left: $value !important;
  }
  .iu-my-#{$name} {
    margin-top: $value !important;
    margin-bottom: $value !important;
  }
  // Padding
  .iu-p-#{$name} {
    padding: $value !important;
  }
  .iu-pt-#{$name} {
    padding-top: $value !important;
  }
  .iu-pb-#{$name} {
    padding-bottom: $value !important;
  }
  .iu-pl-#{$name} {
    padding-left: $value !important;
  }
  .iu-pr-#{$name} {
    padding-right: $value !important;
  }
  .iu-px-#{$name} {
    padding-right: $value !important;
    padding-left: $value !important;
  }
  .iu-py-#{$name} {
    padding-top: $value !important;
    padding-bottom: $value !important;
  }
}

.iu-rem-border-1 {
  border-width: rem-calc(1) !important;
}

.iu-rem-border-2 {
  border-width: rem-calc(2) !important;
}

.iu-rem-border-3 {
  border-width: rem-calc(3) !important;
}
