$focus-offset: 0px !default;

// selector:focus { @include focus-style($color, $offset); }
@mixin focus-style($color: map-get($colors, "black"), $offset: $focus-offset) {
  outline: 2px solid $color;
  outline-offset: $focus-offset;
}

// @include focus-handler($color, $offset)
@mixin focus-handler(
  $color: map-get($colors, "black"),
  $offset: $focus-offset
) {
  &:focus {
    @include focus-style($color, $offset);
  }
}

/* remove focus styles */
@mixin no-focus-handler() {
  &:focus {
    outline: none;
  }
}

// @extend %focus
%focus {
  @include focus-style(map-get($colors, "muted"), $focus-offset);
}

a:focus {
  @extend %focus;
}

/*button:focus-visible,
.ic-tooltip__scroll:focus-visible {
  outline: 2px solid map-get($colors, "muted");
  outline-offset: $focus-offset;
}*/

.ic-page-header__burger:focus {
  outline-offset: 0 !important;
}