/// Replace `$search` with `$replace` in `$string`
/// @author Hugo Giraudel
/// @param {String} $string - Initial string
/// @param {String} $search - Substring to replace
/// @param {String} $replace ('') - New value
/// @return {String} - Updated string
@function str-replace($string, $search, $replace: "") {
  $index: str-index($string, $search);

  @if $index {
    @return str-slice($string, 1, $index - 1) + $replace +
      str-replace(
        str-slice($string, $index + str-length($search)),
        $search,
        $replace
      );
  }

  @return $string;
}

@function getRgba($color, $opacity: 0.5) {
  $color: get($colors, $color);
  @return rgba($color, $opacity);
}

// pass in name of foreground color and opacity. if needed pass background as a valid color (not a name)
// example: getOpaque('main', 0.1);
// example: getOpaque('main', 0.1, #000);
@function getOpaque(
  $foregroundName,
  $opacity: 0.5,
  $backgroundColor: get($colors, "background")
) {
  @return opaque($backgroundColor, getRgba($foregroundName, $opacity));
}

@function to-list($value, $keep: "both") {
  $keep: if(index("keys" "values", $keep), $keep, "both");

  @if type-of($value) == "map" {
    $keys: ();
    $values: ();

    @each $key, $val in $value {
      $keys: append($keys, $key);
      $values: append($values, $val);
    }

    @if $keep == "keys" {
      @return $keys;
    } @else if $keep == "values" {
      @return $values;
    } @else {
      @return zip($keys, $values);
    }
  }

  @return if(type-of($value) != "list", ($value), $value);
}
