@mixin textTransform($v, $important: null) {
  text-transform: get($textTransform, $v);
  @if $use-css-variables {
    text-transform: var(--transform-#{$v});
  }
}

@mixin lineHeight($v, $important: null) {
  $a: get($lineHeights, $v);

  @if length($a) == 2 {
    line-height: nth($a, 2) $important;
    @supports (line-height: clamp(20px, 5vw, 10px)) {
      line-height: clamp(nth($a, 1), 5vw, nth($a, 2)) $important;
    }
  } @else if length($a) == 3 {
    line-height: nth($a, 1) $important;
    @include im-breakpoint("md") {
      line-height: nth($a, 2) $important;
    }
    @include im-breakpoint("lg") {
      line-height: nth($a, 3) $important;
    }
  } @else {
    line-height: get($lineHeights, $v) $important;
    @if $use-css-variables {
      line-height: var(--lh-#{$v}) $important;
    }
  }
}

@mixin letterSpacing($v, $important: null) {
  letter-spacing: get($letterSpacing, $v) $important;
  @if $use-css-variables {
    letter-spacing: var(--letspacing-#{$v}) $important;
  }
}

@mixin font($v, $important: null) {
  font-family: get($fonts, $v) $important;
  @if $use-css-variables {
    font-family: var(--font-#{$v}) $important;
  }
}

@mixin fontSize($v, $important: null) {
  $a: get($fontSizes, $v);

  @if length($a) == 2 {
    font-size: nth($a, 2) $important;
    @supports (font-size: clamp(20px, 5vw, 10px)) {
      font-size: clamp(nth($a, 1), 5vw, nth($a, 2)) $important;
    }
  } @else if length($a) == 3 {
    font-size: nth($a, 1) $important;
    @include im-breakpoint("md") {
      font-size: nth($a, 2) $important;
    }
    @include im-breakpoint("lg") {
      font-size: nth($a, 3) $important;
    }
  } @else {
    font-size: get($fontSizes, $v) $important;
    @if $use-css-variables {
      font-size: var(--fs-#{$v}) $important;
    }
  }
}

@mixin fontWeight($v, $important: null) {
  font-weight: get($fontWeights, $v) $important;
  @if $use-css-variables {
    font-weight: var(--fw-#{$v}) $important;
  }
}

@mixin radius($v, $important: null) {
  border-radius: get($radius, $v) $important;
  @if $use-css-variables {
    border-radius: var(--radius-#{$v}) $important;
  }
}

@mixin color($v, $important: null) {
  color: get($colors, $v) $important;
  @if $use-css-variables {
    color: var(--color-#{$v}) $important;
  }
}

@mixin borderColor($v, $important) {
  border-color: get($colors, $v) $important;
  @if $use-css-variables {
    border-color: var(--color-#{$v}) $important;
  }
}

@mixin border($color, $width: 1px, $style: solid, $important: null) {
  border: $width $style get($colors, $color) $important;
  @if $use-css-variables {
    border: $width $style var(--color-#{$color}) $important;
  }
}

@mixin borderTop($color, $width: 1px, $style: solid, $important: null) {
  border-top: $width $style get($colors, $color) $important;
  @if $use-css-variables {
    border-top: $width $style var(--color-#{$color}) $important;
  }
}

@mixin borderBottom($color, $width: 1px, $style: solid, $important: null) {
  border-bottom: $width $style get($colors, $color) $important;
  @if $use-css-variables {
    border-bottom: $width $style var(--color-#{$color}) $important;
  }
}

@mixin borderLeft($color, $width: 1px, $style: solid, $important: null) {
  border-left: $width $style get($colors, $color) $important;
  @if $use-css-variables {
    border-left: $width $style var(--color-#{$color}) $important;
  }
}

@mixin borderRight($color, $width: 1px, $style: solid, $important: null) {
  border-right: $width $style get($colors, $color) $important;
  @if $use-css-variables {
    border-right: $width $style var(--color-#{$color}) $important;
  }
}

@mixin background($v, $important: null) {
  background-color: get($colors, $v) $important;
  @if $use-css-variables {
    background-color: var(--color-#{$v}) $important;
  }
}

@mixin shadow($v: none, $inset: null, $important: null) {
  @if $inset == true {
    box-shadow: get($boxShadow, $v) inset $important;
  } @else {
    box-shadow: get($boxShadow, $v) $important;
  }
}

@mixin pad(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $important: null
) {
  @if $top != null {
    padding-top: get($spacing, $top) $important;
    @if $use-css-variables {
      padding-top: var(--spacing-#{$top}) $important;
    }
  }
  @if $right != null {
    padding-right: get($spacing, $right) $important;
    @if $use-css-variables {
      padding-right: var(--spacing-#{$right}) $important;
    }
  }
  @if $bottom != null {
    padding-bottom: get($spacing, $bottom) $important;
    @if $use-css-variables {
      padding-bottom: var(--spacing-#{$bottom}) $important;
    }
  }
  @if $left != null {
    padding-left: get($spacing, $left) $important;
    @if $use-css-variables {
      padding-left: var(--spacing-#{$left}) $important;
    }
  }
}

@mixin marg(
  $top: null,
  $right: null,
  $bottom: null,
  $left: null,
  $important: null
) {
  @if $top != null {
    margin-top: get($spacing, $top) $important;
  }
  @if $right != null {
    margin-right: get($spacing, $right) $important;
  }
  @if $bottom != null {
    margin-bottom: get($spacing, $bottom) $important;
  }
  @if $left != null {
    margin-left: get($spacing, $left) $important;
  }
}

@mixin sr-only() {
  // from https://a11y-guidelines.orange.com/web_EN/exemples/masquage/index.html
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

@mixin im-breakpoint(
  $queries,
  $type: all,
  $query-fallback: null,
  $breakpoints: $core-breakpoints
) {
  @include mappy-bp($queries, $type, $query-fallback, $breakpoints) {
    @content;
  }
}

@mixin smallDivider(
  $color: rgba(99, 100, 102, 0.4),
  $width: rem-calc(90),
  $paddingBottom: rem-calc(20)
) {
  position: relative;
  padding-bottom: $paddingBottom;
  &:after {
    content: "";
    background: $color;
    left: 0;
    height: rem-calc(1);
    bottom: 0;
    position: absolute;
    width: $width;
  }
  [dir="rtl"] &:after {
    left: auto;
    right: 0;
  }
}
